@use '../../app/globals.scss' as *;

.results-section {
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__nav {
        display: flex;
        gap: 20px;
        @include responsive(sm) {
            gap: 10px;
        }
    }

    &__link {
        color: $dark-green !important;
        border: 1px solid $dark-green;
        &:hover {
            background-color: $green-yellow !important;
            color: $eerie-black !important;
        }
    }

    .nav-button {
        background-color: transparent !important;
        width: auto !important;
        padding: 0px 20px !important;
        border: 1px solid $dark-green;
        @include responsive(sm) {
            padding: 0px 15px !important;
        }
        &:hover {
            background-color: $green-yellow !important;
        }
    }

    &__carousel {
        width: 100%;
    }
}
