@use '../../app/globals.scss' as *;

.results-section {
    &__content {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
    }

    &__buttons-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 30px;
    }

    &__nav-buttons{
        display: flex;
        gap: 20px;

        @include responsive(sm) {
            gap: 10px;
        }
    }

    &__link-button{
        color: $dark-green !important;
        border: 1px solid $dark-green;
    }

    .nav-button{
        background-color: transparent !important;
        width: auto !important;
        padding: 0px 20px !important;
        border: 1px solid $dark-green;

        @include responsive(sm) {
            padding: 0px 15px !important;
        }
    }

    &__results {
        display: flex;
        flex-flow: row nowrap;
        gap: 20px;
        overflow: hidden;
    }
}
