@use '../../app/globals.scss' as *;

.all-services-section{
    &__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        gap: 20px;
        row-gap: 30px;
        margin-bottom: 40px;

        @include responsive(lg) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(4, auto);
            margin-bottom: 20px;
        }

        @include responsive(md) {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(4, auto);
            margin-bottom: 20px;
        }

        &-item {
            border-radius: 15px;
            overflow: hidden;
            width: auto;
            height: auto;
            transition: all 0.3s ease;
            grid-column: span 1;
            border: 1px solid #dbdbdb;

            @include responsive(lg) {
                height: auto;
            }
        }
    }
}
