@use '../../app/globals.scss' as *;

.all-services-section {
    &__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        gap: clamp(20px, 2.5vw, 30px);
        margin-bottom: clamp(20px, 3vw, 40px);


        @include responsive(md) {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(4, auto);
            margin-bottom: 20px;
        }
    }

    &__item {
        border-radius: 15px;
        overflow: hidden;
        border: 1px solid rgba($eerie-black, 0.15);
        transition: transform 0.3s ease;

        &:hover {
            transform: translateY(-4px);
        }
    }
}
