@use '../../app/globals.scss' as *;

.all-services-section{
    &__categories {
        display: flex;
        flex-flow: row nowrap;
        gap: 60px;
        list-style: none;
        margin: 30px 0px;
        overflow: hidden;
        overflow-x: scroll;
        scrollbar-width: none; 

        @include responsive(lg) {
            gap: 30px;
            margin: 0px 0px 15px 0px;
        }
    }

    &__category {
        cursor: pointer;
        margin-bottom: 20px;
        transition: all 0.3s ease;

        &-name {
            padding: 10px 20px;
            border-radius: 30px;
            font-weight: 300;
            font-size: clamp(12px, 1vw, 16px);

            &--active {
                background-color: #4F5D78;
                color: white;
            }

            
            &:hover {
                background-color: #4F5D78;
                color: white;
            }
        }
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        grid-template-rows: repeat(2, auto);
        gap: 10px;

        @include responsive(md) {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(4, auto);
        }

        &-item {
            border-radius: 15px;
            overflow: hidden;
            width: 100%;
            height: 350px;
            transition: all 0.3s ease;
            grid-column: span 2;
            grid-row: span 2;

            @include responsive(lg) {
                height: auto;
            }
        }
    }
}
