
@use '../globals.scss' as *;


.contact-page {
    background-color: $gray-neutral;
    height: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;

    @include responsive(xl) {
        padding-left: 20px;
        padding-right: 20px;
    }

    &__container {
        width: 100%;
        overflow: hidden;
    }

    &__wrapper {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 50px;
    }

    &__hero-overlay {
        position: absolute;
        inset: 0;
        background: rgba(0,0,0,0.7);
        z-index: 1;
        pointer-events: none;
    }

    &__hero-content {
        position: relative;
        z-index: 2;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__hero {
        width: 100vw;
        height: 105vh;
        min-height: 900px;
        z-index: 0;
        background-image: url('/background/hero-background.jpg');
        background-size: cover;
        background-position: center;
        position: relative;
        margin-bottom: 20px;

        @include responsive(md) {
            min-height: unset;
            height: auto !important;
            padding: 30px 0px;
        }
    }

    &__hero-content {
        position: relative;
        z-index: 1;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: clamp(15px, 2vw, 25px);
    }

    &__subtitle {
        position: absolute;
        color: $font-color-secondary;
        font-size: 20px;
        text-align: start;
        margin: 0;
        bottom: 5%;
        left: 5%;
        max-width: 68%;
        font-weight: 300;
    }

    &__form {
        flex: 0.5;
        padding-top: 60px;
    }
}