@use '../../../app/globals.scss' as *;

.result-card {
    width: 100%;
    height: auto;
    color: $white;
    justify-content: space-between;
    border-radius: 8px;
    background-color: transparent;
    text-decoration: none;
    display: block;
    cursor: pointer;

    &:hover {
        .result-card__title{
            color: $green-yellow !important;
        }
    }

    &__image-container {
        position: relative;
        width: 100%;
        height: 350px;
        border-radius: 16px;
        overflow: hidden;
        margin-bottom: 20px;
    }

    &__image {
        object-fit: cover;
        width: 100%;
        height: 100%;
        transition: transform 0.3s ease;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 10px;
        z-index: 1;
        padding: 0px 10px;
        height: 100px;
    }   

    &__title {
        text-align: start;
        font-size: clamp(14px, 2vw + 1rem, 24px); 
        line-height: clamp(1.8rem, 2vw, 1.7rem);
        font-weight: 700;
        color: $eerie-black !important;
    }
    
    &__category {
        font-weight: 600;
        font-size: clamp(12px, 2vw + 1rem, 18px);
        line-height: 1.2rem;
        color: $font-color-third;
        position: relative;
        padding-left: 30px;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 20px;
            height: 2px;
            background-color: $font-color-third;
            border-radius: 1px;
        }
    }
}
