@use '../../../app/globals.scss' as *;

.result-card {
    width: 100%;
    height: 480px;
    color: $white-primary;
    justify-content: space-between;
    border-radius: 15px;
    background-color: $white;
    border: 1px solid #e4e4e4;
    text-decoration: none;
    display: block;
    cursor: pointer;

    &:hover {
        .result-card__image-container img {
            transform: scale(1.1);
        }

        .result-card__link {
            text-decoration: underline;
        }
    }

    &__image-container {
        position: relative;
        width: 100%;
        height: 250px;
        border-radius: 15px 15px 0px 0px;
        overflow: hidden;
        margin-bottom: 20px;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            transition: transform 0.3s ease;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 10px;
        z-index: 1;
        padding: 0px 10px;
        height: 150px;
    }   

    &__title {
        text-align: start;
        font-size: clamp(14px, 2vw + 1rem, 24px); 
        line-height: clamp(1.8rem, 2vw, 1.7rem);
        font-weight: 700;
        color: $black !important;
    }

    &__description {
        font-weight: 400;
        font-size: clamp(12px, 2vw + 1rem, 18px); 
        line-height: 1.2rem;
        padding-bottom: 30px;
        color: $font-color-secondary;
    }

    &__link {
        font-weight: 500;
        font-size: clamp(12px, 2vw + 1rem, 18px); 
        line-height: 1.2rem;
        color: $blue-primary;
        @include flex-center;
        justify-content: start;
        gap: 3px;
        padding: 10px 10px 20px;
    }
}
