@use '../../app/globals.scss' as *;

.service-card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-image: url('/assets/images/bottom-background.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 20px;
    gap: 20px;
    color: $white-primary;

    &__title {
        font-size: 34px;
        width: 80%;
    }

    &__description {
        width: 70%;
        font-weight: 100;
        font-size: 16px;
    }

    &__button {
        border: none;
        width: 123px;
        height: 32px;
        border-radius: 30px;
        background-color: #ED7D24;
        color: $white-primary;
        font-weight: 100;
    }
}
