@use '../../app/globals.scss' as *;

.service-card-expanded {
  width: 100%;
  height: 600px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  gap: 10px;
  position: relative;
  overflow: hidden;
  background: center/cover white;
  text-align: center;

  * {
    position: relative;
    z-index: 2;
  }

  &__title {
    padding: 30px 20px;
    font-size: clamp(16px, 1.3vw + 0.8rem, 28px);
    font-weight: 600;
    color: $eerie-black;
    text-align: start;
  }

  &__info {
    $info-transition: cubic-bezier(.4,0,.2,1);
    position: absolute;
    bottom: 5%;
    left: 5%;
    width: 90%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    text-align: start;
    background-color: $eerie-black;
    border-radius: 14px;
    color: $white;

    &--first {
      position: absolute;
      bottom: 5%;
      left: 5%;
      width: 90%;
      height: 100px;
      padding: 15px;
      opacity: 1;
      pointer-events: auto;
      transition: opacity 0.2s $info-transition;
      background-color: $eerie-black;
      border-radius: 14px;
      color: $white;

      &--description {
        text-align: start;
        font-size: clamp(13px, 1vw, 17px);
      }

      @include responsive(lg) {
        height: 100px;
        padding: 20px;
      }
    }

    &:not(&--first) {
      height: 15%;
      padding: 20px 15px;
      opacity: 0;
      pointer-events: none;
      overflow: hidden;
      transition: opacity 0.7s $info-transition, height 1s $info-transition;

      @include responsive(lg) {
        align-items: center;
        padding: 15px;
        box-sizing: border-box;
      }
    }

    &-item {
      flex: 0.3;
      padding: 0 20px;

      @include responsive(lg) {
        flex: 1;
        padding: 0;
        width: 100%;
      }

      &--subtitle {
        font-size: clamp(13px, 1.3vw, 18px);
        font-weight: 600;
        margin-bottom: 10px;
        color: $mint-cream;
      }

      &--list {
        font-weight: 300;
        padding-left: 20px;

        li {
          padding-bottom: 5px;
          font-size: clamp(13px, 1vw, 16px);
        }
      }

      &--description {
        font-weight: 300;
        font-size: clamp(13px, 1vw, 16px);
        text-align: start;
      }
    }
  }

  &:hover, &.active {
    .service-card-expanded__info {
      opacity: 1;
      height: 75%;
      pointer-events: auto;
      gap: 30px;

      @include responsive(xl) { height: 60%; }
      @include responsive(lg) { height: 50%; }
      @include responsive(md) { height: 50%; }
    }

    .service-card-expanded__info--first {
      opacity: 0;
      pointer-events: none;
    }
  }
}
