@use '../../app/globals.scss' as *;

.service-card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 20px;
    padding-bottom: 45px;
    color: $white-primary;

    &--black{
        color: $black-primary;
    }

    &__title {
        font-size: 32px;
        font-weight: 500;
        width: 90%;
        line-height: 2.3rem;
    }

    &__description {
        font-size: 16px;
        font-weight: 300;
        text-align: center;
        width: 80%;
        
    }

    &__button {
        border: none;
        width: 144px;
        height: 40px;
        border-radius: 30px;
        background-color: #ED7D24;
        color: $white-primary;
        font-weight: 300;
        font-size: 14px;
        cursor: pointer;
    }
}
