@use '../../app/globals.scss' as *;

.service-card-expanded {
  width: 100%;
  height: 600px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  gap: 10px;
  position: relative;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  text-align: center;
  background-color: white;

  &__description {
    font-size: clamp(13px, 1vw, 17px);
  }

  &:hover {
    .service-card-expanded__info {
      opacity: 1;
      height: 80%;
      pointer-events: auto;

      @include responsive(lg) { height: 65%; }
      @include responsive(md) { height: 70%; }
    }
    .service-card-expanded__info--first {
      opacity: 0;
      pointer-events: none;
    }
  }

  &.active {
    .service-card-expanded__info {
      opacity: 1;
      height: 80%;
      pointer-events: auto;

      @include responsive(lg) { height: 65%; }
      @include responsive(md) { height: 70%; }
    }
    .service-card-expanded__info--first {
      opacity: 0;
      pointer-events: none;
    }
  }

  * {
    position: relative;
    z-index: 2;
  }

  &__title {
    padding: 30px 20px;
    font-size: clamp(16px, 1.3vw + 0.8rem, 28px);
    font-weight: 600;
    color: $eerie-black;
    bottom: 10px;
    z-index: 2;
    text-align: start;
  }

  &__info {
    display: flex;
    opacity: 0;
    position: absolute;
    bottom: 5%;
    left: 5%;
    flex-flow: column nowrap;
    justify-content: space-between;
    padding: 0 15px;
    color: $white;
    height: 15%;
    width: 90%;
    margin: auto;
    overflow: hidden;
    gap: 20px;
    text-align: start;
    background-color: $eerie-black;
    border-radius: 14px;
    padding-top: 20px;
    pointer-events: none;
    transition: opacity 0.7s cubic-bezier(.4,0,.2,1), height 1s cubic-bezier(.4,0,.2,1);

    @include responsive(lg) {
      align-items: center;
      gap: 20px;
      padding: 15px;
      box-sizing: border-box;
    }
    @include responsive(md) { padding: 15px; }

    &--first {
      position: absolute;
      bottom: 5%;
      left: 5%;
      height: 100px;
      padding: 15px;
      width: 90%;
      background-color: $eerie-black;
      color: $white;
      border-radius: 14px;
      opacity: 1;
      pointer-events: auto;
      transition: opacity 0.2s cubic-bezier(.4,0,.2,1);

      &--description {
        text-align: start;
        font-size: clamp(13px, 1vw, 17px);
      }

      @include responsive(lg) { height: 100px; padding: 20px; }
    }

    &-item {
      flex: 0.3;
      padding: 0 20px;

      @include responsive(lg) { flex: 1; padding: 0; width: 100%; }

      &--subtitle {
        font-size: clamp(13px, 1.3vw, 18px);
        font-weight: 600;
        margin-bottom: 10px;
        color: $mint-cream;
      }

      &--list {
        font-weight: 300;
        padding-left: 20px;

        li {
          padding-bottom: 5px;
          font-size: clamp(13px, 1vw, 16px);
        }
      }

      &--description {
        font-weight: 300;
        font-size: clamp(13px, 1vw, 16px);
        text-align: start;
      }
    }
  }
}
