@use '../../app/globals.scss' as *;

.service-card-expanded {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  gap: 10px;
  position: relative;
  overflow: hidden; 
  background-position: center;
  background-size: cover;
  text-align: center;
  background-color: white;

  * {
    position: relative;
    z-index: 2;
  }

  &__main-content {
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    
    &--title-container {
      position: relative;
      height: 220px;

      &--image {
        position: relative;
        z-index: 0;
      }

      &::after {
        content: '';
        position: absolute;
        inset: 0;
        background: rgba(0,0,0,0.4);
        z-index: 1;
        pointer-events: none;
      }

      &--title {
        padding: 10px 20px;
        font-size: clamp(16px, 1.3vw + 0.8rem, 23px); 
        font-weight: 500;
        color: $white-primary;
        position: absolute;
        bottom: 10px;
        z-index: 2;
      }

      &--description {
        font-size: clamp(14px, 1.3vw, 18px);
        font-weight: 400;
        color: $font-color-secondary;
        padding-top: 20px;
        height: 80px;

        @include responsive(md) {
          height: 60px;
          padding-top: 10px;
        }
      }
    }

    &--button {
      padding: 15px 30px;
      border-radius: 15px;
      background-color: $blue-primary;
      border: 1px solid $white-primary;
      color: $white-primary;
      font-size: clamp(12px, 1vw, 16px);
      font-weight: 500;
      text-decoration: none;
      margin-top: 20px;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: $blue-light;
      }
    }
  }

  &__info {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    padding: 0 15px;
    color: $black;
    height: 100%;
    gap: 30px;
    text-align: start;

    @include responsive(lg) {
      align-items: center;
      gap: 20px;
      padding: 0 15px;
      box-sizing: border-box;
    }

    &-item {
      flex: 0.3;
      padding: 0 20px;

      @include responsive(lg) {
        flex: 1;
        padding: 0;
        width: 100%;
      }

      &--subtitle {
        font-size: clamp(12px, 1.3vw, 18px);
        font-weight: 600;
        margin-bottom: 10px;
        color: $blue-primary;
      }

      &--list {
        font-weight: 300;
        padding-left: 20px;

        li {
          padding-bottom: 5px;
          font-size: clamp(12px, 1vw, 16px);
        }
      }

      &--description {
        font-weight: 300;
        font-size: clamp(12px, 1vw, 16px);
      }
    }
  }
}

.service-card {
  width: 100%;
  height: 100%;
  @include flex-center(column);
  justify-content: flex-end;
  gap: 15px;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 40px;
  color: $white-primary;
  position: relative; 

  @include responsive(lg) {
    gap: 10px;
    padding: 30px 10px;
  }

  &--black { color: $black-primary; }

  &__title {
    font-size: clamp(16px, 1.3vw + 0.6rem, 32px); 
    font-weight: 500;
    width: 95%;
    line-height: clamp(0.8rem, 2vw + 0.8rem, 2.3rem); 
    color: $white-primary;

    @include responsive(lg) {
      width: 100%; 
    }
  }

  &__description {
    font-size: clamp(12px, 1vw + 0.4rem, 18px); 
    font-weight: 300;
    text-align: center;
    width: 85%;
    color: $white-primary;

    @include responsive(lg) {
      width: 95%;
    }
  }

  &__button {
    background-color: $button-color-transparent;
    border-color: $white-primary !important;
    color: $white-primary !important;
    font-weight: 300 !important;
    width: auto !important;
  }

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6); 
    z-index: 1;
  }

  * {
    position: relative;
    z-index: 2;
  }
}
