@use '../../app/globals.scss' as *;

.service-card-expanded {
    width: 100%;
    height: 100%;
    padding: 30px 40px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    gap: 50px;
    position: relative;
    overflow: hidden; 
    background-position: center;
    background-size: cover;

    @include responsive(lg) {
        padding: 20px;
        gap: 40px;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.35);
        backdrop-filter: blur(3px); 
        z-index: 1;
    }

    * {
        position: relative;
        z-index: 2;
    }

    &__main-content {
        display: flex;
        flex-flow: row nowrap;
        position: relative;

        &--title-container {

            &--title {
                font-size: clamp(16px, 1.3vw + 0.8rem, 32px); 
                font-weight: 500;
                color: $white-primary;
            }

            &--description {
                font-size: clamp(12px, 1.3vw, 16px);
                font-weight: 300;
                color: $white-primary;

                @include responsive(lg) {
                    margin-top: 5px;
                }
            }
        }

        &--button {
            position: absolute;
            right: 2%;
            top: 10%;
            padding: 15px 30px;
            border-radius: 30px;
            background-color: rgba(158, 158, 158, 0.5);
            border: 1px solid $white-primary;
            color: $white-primary;
            font-size: clamp(12px, 1vw, 16px);
            font-weight: 500;
            text-decoration: none;

            @include responsive(lg) {
                display: none;
            }

            &--mobile{
                display: none;
                padding: 10px 15px;

                @include responsive(lg) {
                    position: unset;
                    display: block;
                    width: 60%;
                    margin: 0 auto;
                    text-align: center;
                    max-width: 200px;
                }
            }

        }
    }

    &__info {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        padding: 0px 25px;
        color: $white-primary;

        @include responsive(lg) {
            flex-flow: column nowrap;
            align-items: center;
            gap: 50px;
            padding: 0px;
        }

        &-item {
            flex: 0.3;
            border-right: 1px solid $white-primary;
            padding: 0 20px;
    
            @include responsive(lg) {
                flex: 1;
                border-right: none;
                padding: 0px;
                width: 100%;
            }

            &:first-child {
                padding: 0px;
            }

            &:last-child {
                padding: 0px;
                border-right: none;
            }

            &--subtitle {
                font-size: clamp(12px, 1.3vw, 18px);
                font-weight: 500;
                margin-bottom: 10px;
            }

            &--list {
                font-weight: 300;

                @include responsive(lg) {
                    padding-left: 20px;
                }

                li{
                    padding-bottom: 5px;
                    font-size: clamp(12px, 1vw, 16px);
                }

            }

            &--description {
                font-weight: 300;
                font-size: clamp(12px, 1vw, 16px);
            }
        }
    }
}

.service-card {
    width: 100%;
    height: 100%;
    @include flex-center(column);
    justify-content: flex-end;
    gap: 15px;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 40px;
    color: $white-primary;
    position: relative; 

    @include responsive(lg) {
        gap: 10px;
        padding: 30px 10px;
    }

    &--black {
        color: $black-primary;
    }

    &__title {
        font-size: clamp(16px, 1.3vw + 0.6rem, 32px); 
        font-weight: 500;
        width: 95%;
        line-height: clamp(0.8rem, 2vw + 0.8rem, 2.3rem); 

        @include responsive(lg) {
            width: 100%; 
        }
    }

    &__description {
        font-size: clamp(12px, 1vw + 0.4rem, 18px); 
        font-weight: 300;
        text-align: center;
        width: 85%;

        @include responsive(lg) {
            width: 95%;
        }
    }

    &__button {
        background-color: $button-color-transparent;
        border-color: $white-primary !important;
        color: $white-primary !important;
        font-weight: 300 !important;
        width: auto !important;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.35); 
        z-index: 1;
    }

    * {
        position: relative;
        z-index: 2;
    }
}
