@use '../../globals.scss' as *;

.about-page {
    margin-top: 200px;
    margin-bottom: 15px;

    @include responsive(lg) {
        margin-top: 130px;
    }

    @include responsive(md) {
        margin-top: 120px;
    }

    &__container {
        display: flex;
        flex-flow: column nowrap;
        gap: 60px;
    }

    &__hero {
        display: flex;
        flex-flow: column nowrap;
        gap: 100px;

        @include responsive(lg) {
            gap: 70px;
        }

        &__title-container {
            display: flex;
            gap: 100px;

            @include responsive(lg) {
                gap: 5px;
            }

            &--secondary{
                @include responsive(lg) {
                    &:last-child {
                        order: 0;
                    }
                }
            }

            @include responsive(lg) {
                flex-flow: column nowrap;
            }

            .decoration{
                position: relative;

                &::before {
                    content: '';
                    display: inline-block;
                    width: 30%;
                    height: 1px;
                    background-color: #F9AE74;
                    vertical-align: text-top;
                    top: -5px;
                    position: absolute;
                }
            }

            &--title {
                flex: 0.5;

                span{
                    color: $blue-100 !important;
                    font-weight: 600 !important;
                    font-size: clamp(20px, 2vw + 1.5rem, 66px); 
                }
            }

            &--description {
                flex:0.5;
                font-size: clamp(16px, 2vw + 0.5rem, 24px);
                font-weight: 300;
                color: #4F5D78;
                
                @include responsive(lg) {
                    order: 2;
                }
                
            }
        }
    }

    &__qualities {
        width: 100vw;
        margin: 70px 0;
        background-image: url('/assets/images/bottom-background.jpg');
        background-size: cover;
        background-position: center;
        position: relative;
        padding: 70px 0;

        @include responsive(lg) {
            padding: 40px 0;
            margin: 50px 0;
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5); 
            z-index: 1; 
        }

        .container {
            position: relative; 
            z-index: 2;
            display: flex;
            justify-content: space-between;
            align-items: center;

            @include responsive(lg) {
                flex-flow: column nowrap;
                align-items: start;
                gap: 30px;
            }
        }
    

        &--title {
            font-size: clamp(16px, 2vw + 1rem, 62px);
            color: $white-primary !important;
            font-weight: 400 !important;
            flex-basis: 70%;
        }

        &__container {
            display: flex;
            flex-flow: column nowrap;
            gap: 50px;

            @include responsive(lg) {
                gap: 30px;
            }

            &--item {
                color: #fff;

                &--title {
                    font-size: clamp(14px, 1vw + 0.2rem, 22px);
                    font-weight: 500;
                }

                &--description {
                    font-size: clamp(12px, 1.5vw, 18px);
                    font-weight: 300;
                }
            }
        }
    }

    &__team {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 30px;
        color: $blue-100;
        padding-bottom: 30px;

        @include responsive(lg) {
            gap: 20px;
        }

        &--title {
            font-size: clamp(16px, 2vw + 1.2rem, 52px);
            font-weight: 400;
            line-height: clamp(1rem, 2vw + 1.2rem, 4rem);
        }

        &--description {
            width: 60%;
            font-size: clamp(12px, 1vw + 0.7rem, 24px);
            font-weight: 300;

            @include responsive(lg) {
                width: 90%;
            }
        }

        &__container {
            display: flex;
            justify-content: center;
            gap: 50px;
            margin-top: 30px;

            @include responsive(md) {
                flex-flow: column nowrap;
                align-items: center;
                gap: 40px;
            }

            &--item {
                flex: 0.4;
                text-align: center;

                @include responsive(lg) {
                    flex: 0.35;
                }

                &--image{
                    border-radius: 20px;
                    width: 300px;
                    height: 300px;

                    @include responsive(lg) {
                        width: 180px;
                        height: 210px;
                    }
                }

                &--name {
                    font-size: clamp(14px, 1vw + 0.8rem, 24px);
                    font-weight: 500;
                    color: $blue-100;
                }

                &--role {
                    font-size: clamp(12px, 1vw + 0.4rem, 18px);
                    font-weight: 300;
                    color: #4F5D78;
                    width: 70%;
                    margin: 0 auto;
                    margin-top: 10px;

                    @include responsive(lg) {
                        width: 90%;
                    }
                }
            }
        }
    }
}

.break-line{
    @include responsive(lg) {
        display: none;
    }
}