@use '../../globals.scss' as *;

.about-page {
    $self: &;
    padding: {
        top: 200px;
    }
    overflow-x: hidden;

    @include responsive(lg) {
        padding-top: 140px;
    }

    &__container {
        padding-bottom: 60px;
    }

    &__hero {
        @include flex-center(column);
        gap: 10px;
        
        &__title-container {
            @include flex-center(column);
            text-align: start;

            &--title {
                margin-bottom: 10px;
            }

            &--description {
                width: 75%;
                font: {
                    size: clamp(16px, 2vw + 0.5rem, 24px);
                    weight: 400 !important;
                }
                text-align: center;
                
                @include responsive(lg) {
                    order: 2;
                    width: 95%;
                }
            }
        }
    }

    &__qualities {
        margin: 180px 0;

        @include responsive(lg) {
            margin: 100px 0;
        }

        &__title-container {
            @include flex-center(column);
            margin: 50px 0;

            &--title {
                color: $orange-primary !important;
            }
        }

        &__container {
            @include flex-center;
            gap: 70px;
            text-align: center;

            @include responsive(lg) {
                gap: 30px;
            }

            @include responsive(md) {
                flex-flow: column nowrap;
                align-items: center;
                gap: 70px;
            }

            &--item {
                color: $black;

                &--icon-bg {
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    background: #fac18f;
                    margin: 0 auto 16px;
                    @include flex-center;
                }

                &--title {
                    font: {
                        size: clamp(16px, 1vw + 0.4rem, 28px);
                        weight: 500;
                    }
                    color: $orange-primary !important;
                }

                &--description {
                    font: {
                        size: clamp(14px, 1.5vw, 18px);
                        weight: 300;
                    }
                }
            }
        }
    }

    &__team {
        @include flex-center(column);
        text-align: center;
        padding-bottom: 70px;

        @include responsive(lg) {
            gap: 5px;
        }

        &--title {
            font: {
                size: clamp(16px, 2vw + 1.2rem, 52px);
                weight: 700;
            }
            line-height: clamp(1rem, 2vw + 1.2rem, 4rem);
        }

        &--description {
            width: 75%;
            margin: 30px 0;
            font: {
                size: clamp(12px, 1vw + 0.7rem, 24px);
                weight: 400;
            }

            @include responsive(lg) {
                width: 90%;
            }
        }

        &__container {
            display: flex;
            justify-content: center;
            gap: 50px;
            margin-top: 30px;
            margin-bottom: 100px;

            @include responsive(md) {
                flex-flow: column nowrap;
                align-items: center;
                gap: 40px;
                margin-bottom: 0px;
            }

            &--item {
                flex: 0.4;
                text-align: center;

                @include responsive(lg) {
                    flex: 0.35;
                }

                &--image {
                    border-radius: 20px;
                    width: 300px;
                    height: 300px;

                    @include responsive(lg) {
                        width: 180px;
                        height: 210px;
                    }
                }

                &--name {
                    margin: 10px 0;
                    font: {
                        size: clamp(14px, 1vw + 0.8rem, 26px);
                        weight: 500;
                    }
                    color: $blue-primary;
                }

                &--role {
                    width: 70%;
                    margin: 10px auto 0;
                    font: {
                        size: clamp(12px, 1vw + 0.5rem, 20px);
                        weight: 400;
                    }
                    color: $font-color-secondary;

                    @include responsive(lg) {
                        width: 90%;
                    }
                }
            }
        }
    }
}

.break-line{
    @include responsive(lg) {
        display: none;
    }
}
