@use '../../app/globals.scss' as *;

.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;

    &__video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover; 
        z-index: -1;
    }

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); 
        z-index: -1;
    }

    &__container {
        z-index: 1; 
        display: flex;
        align-items: center;
        height: 100%;
        text-align: start;
    }

    &__content {
        width: 65%;
    }

    &__title {
        font-size: 74px;
        font-weight: 700;
        color: $white-primary;
    }

    &__subtitle {
        font-size: 70px;
        margin-bottom: 1rem;
        font-weight: 500;
        color: $font-hero-subtitle;
    }

    &__description {
        font-size: 20px;
        margin-bottom: 2rem;
        font-weight: 300;
        color: #EFEFEF;
        line-height: 1.6rem;
    }

    &__cta-button {
        width: 144px;
        height: 48px;
        background-color: rgba(182, 182, 182, 0.267);
        color: $white-primary;
        padding: 10px 20px;
        border: 1px solid $white-primary;
        border-radius: 30px;
        font-size: 1rem;
        cursor: pointer;
    }
}