@use '../../app/globals.scss' as *;

.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;

    @include responsive(md) {
        margin-top: 26px;
    }

    &__container {
        @include flex-center;
        justify-content: flex-start;
        height: 100%;
        z-index: 1; 
        text-align: start;
    }

    &__content {
        width: 75%;

        @include responsive(lg) {
            @include flex-center(column);
            width: 100%;
        }
    }

    &__title {
        font-size: clamp(24px, 2vw + 2.4rem, 68px); 
        font-weight: 700;
        color: $black;
        animation: fadeIn 1.5s ease-in-out; 

        @include responsive(md) {
            width: 90%;
            text-align: center;
            margin: 10 auto;
        }
    }

    &__highlight {
        color: $blue-primary; 
        font-weight: 700;
    }

    &__subtitle {
        font-size: clamp(20px, 2vw + 2rem, 64px); 
        margin-bottom: 1rem;
        font-weight: 500;
        color: $font-color-secondary;
        animation: fadeIn 2s ease-in-out;

        @include responsive(md) {
            width: 90%;
            text-align: center;
            margin: 10 auto;
        }
    }

    &__description {
        font-size: clamp(12px, 0.4vw + 1rem, 22px); 
        margin-bottom: 2rem;
        font-weight: 400;
        color: $font-color-secondary;
        line-height: clamp(1.3rem, 1vw + 0.5rem, 1.6rem); 
        width: 75%;
        animation: fadeIn 2.5s ease-in-out; 

        @include responsive(md) {
            width: 90%;
            font-size: clamp(12px, 0.4vw + 0.8rem, 18px); 
            margin-bottom: 1rem;
            text-align: center;
            margin: 10px auto;
        }
    }

    &__cta-buttons {
        display: flex;
        gap: 1rem;
    }

    &__more-button {
        background-color: $blue-primary;
        color: $white-primary !important;
        animation: fadeIn 3s ease-in-out;

        @include responsive(md) {
            margin: 20px auto;
        }
    }

    &__cta-button {
        background-color: $white;
        color: $font-color-secondary !important;
        font-weight: 400 !important;
        animation: fadeIn 3s ease-in-out;

        @include responsive(md) {
            margin: 20px auto;
        }
    }

    &__scroll-indicator {
        position: absolute;
        bottom: 10%;
        left: 50%;
        transform: translateX(-50%);
        animation: bounce 3s infinite; 
        cursor: pointer;

        @include responsive(md) {
            bottom: 5%;
        }
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
            transform: translateY(20px);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes bounce {
        0%, 100% {
            transform: translateX(-50%) translateY(0); 
        }
        50% {
            transform: translateX(-50%) translateY(-15px); 
        }
    }
}