@use '../../app/globals.scss' as *;

.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;

    &__video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover; 
        z-index: -1;
    }

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); 
        z-index: -1;
    }

    &__container {
        @include flex-center;
        justify-content: flex-start;
        height: 100%;
        z-index: 1; 
        text-align: start;
    }

    &__content {
        width: 75%;

        @include responsive(lg) {
            width: 100%;
        }
    }

    &__title {
        font-size: clamp(24px, 2vw + 2.4rem, 68px); 
        font-weight: 700;
        color: $white-primary;
        animation: fadeIn 1.5s ease-in-out; 

        @include responsive(md) {
            width: 90%;
            text-align: center;
            margin: 10 auto;
        }
    }

    &__subtitle {
        font-size: clamp(20px, 2vw + 2rem, 64px); 
        margin-bottom: 1rem;
        font-weight: 500;
        color: $font-color-tertiary;
        animation: fadeIn 2s ease-in-out;

        @include responsive(md) {
            width: 90%;
            text-align: center;
            margin: 10 auto;
        }
    }

    &__description {
        font-size: clamp(12px, 0.4vw + 1rem, 20px); 
        margin-bottom: 2rem;
        font-weight: 300;
        color: $font-color-quaternary;
        line-height: clamp(1.3rem, 1vw + 0.5rem, 1.6rem); 
        width: 70%;
        animation: fadeIn 2.5s ease-in-out; 

        @include responsive(md) {
            width: 90%;
            font-size: clamp(12px, 0.4vw + 0.8rem, 18px); 
            margin-bottom: 1rem;
            text-align: center;
            margin: 10px auto;
        }
    }

    &__cta-button {
        background-color: $button-color-transparent;
        color: $white-primary !important;
        animation: fadeIn 3s ease-in-out;

        @include responsive(md) {
            margin: 20px auto;
        }
    }

    &__scroll-indicator {
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translateX(-50%);
        animation: bounce 3s infinite; 
        cursor: pointer;
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
            transform: translateY(20px);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes bounce {
        0%, 100% {
            transform: translateX(-50%) translateY(0); 
        }
        50% {
            transform: translateX(-50%) translateY(-15px); 
        }
    }
}