@use '../../app/globals.scss' as *;


.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: {
        image: url('/assets/images/background/hero-background.jpg');
        size: cover;
        position: center;
    }
    
    &::before {
        content: '';
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 0;
    }
    
    &__container {
        position: relative;
        height: 100%;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    &__title {
        font-size: clamp(3rem, 3.5vw + 1.5rem, 6rem);
        font-weight: 700;
        color: $white;
        animation: fadeIn 1.5s ease-in-out;
    }

    &__description {
        width: 100%;
        margin: 2rem 0 1rem;
        color: $white;
        font-size: clamp(12px, 1vw + 0.7rem, 32px);
        font-weight: 300;
        line-height: clamp(1.3rem, 1vw + 0.5rem, 1.6rem);
        animation: fadeIn 2.5s ease-in-out;

        @include responsive(lg) {
            margin: 10px auto;
            font-size: clamp(12px, 0.8vw + 0.8rem, 24px);
        }
    }

    &__cta-button {
        width: fit-content !important;
        margin: 16px auto;
        padding: 12px 24px;
        background-color: rgba(165, 165, 165, 0.5);
        border: 2px solid $white;
        color: $white;
        font-weight: 400;
        transition: all 0.3s ease-in-out;
        animation: fadeIn 2.5s ease-in-out;

        &:hover {
            background-color: $white;
            color: $eerie-black;
        }
        
        @include responsive(md) {
            margin: 20px auto;
        }
    }

    &__scroll-indicator {
        position: absolute;
        bottom: 10%;
        left: 50%;
        transform: translateX(-50%);
        cursor: pointer;
        z-index: 2;
        background-color: transparent;
        border: none;
        animation: bounce 3s infinite, fadeIn 3s ease-in-out;

        @include responsive(md) {
            bottom: 5%;
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes bounce {
    0%, 100% {
        transform: translate(-50%, 0);
    }
    50% {
        transform: translate(-50%, -15px);
    }
}