@use '../../app/globals.scss' as *;

.about-us {
    padding: 80px 0 50px 0px;

    @include responsive(md) {
        padding: 20px 0 80px 0;
    }

    &__container {
        height: 480px;   
        @include flex-center(column);
    }

    &__content {
        display: flex;
        flex-flow: row nowrap;
                
        @include responsive(md) {
            flex-flow: column nowrap;
            gap: 40px;
        }
    }

    &__title-container {
        flex: 0.5;
        padding-right: 20px;


        @include responsive(md) {
            @include flex-center(column);
            border-right: none;
            text-align: center;
        }
        
        &--label {
            font-size: clamp(10px, 0.5vw + 0.5em, 20px); 
            font-weight: 100;
            color: $white-primary;
        }

        &--title {
            color: $black !important;
        }

        &--highlight {
            color: $blue-primary;
        }

        &--subtitle {
            font-size: clamp(12px, 1vw + 0.4rem, 20px) !important; 
            line-height: clamp(0.4rem, 2vw + 0.7rem, 1.8rem) !important; 
            margin-top: 10px;
            width: 80%;
        }

        &--buttons-container {
            margin-top: 20px;
            display: flex;
            flex-flow: row nowrap;
            gap: 20px;

            @include responsive(md) {
                display: none;
            }

            &--mobile{
                display: none;
                gap: 20px;

                @include responsive(md) {
                    display: flex;
                }
            }

            .more-info-button {
                background-color: $blue-primary;
                color: $white;
            }

            .contact-button {
                background-color: $white;
                color: $black;
            }
        }
    }

    &__description-container {
        flex: 0.5;
        @include flex-center(column);
        align-items: start;

        @include responsive(md) {
            align-items: center;
            text-align: center;
            margin-top: 10px;
        }

        &--title {
            font-size: clamp(20px, 1.5vw + 1rem, 24px);
            font-weight: 700;
            color: $black !important;
            margin-bottom: 20px;
        }
        
        &--description {
            width: 80%;
            color: $font-color-secondary !important;
            font-size: clamp(12px, 1vw + 0.4rem, 20px) !important; 
            line-height: clamp(0.4rem, 2vw + 0.7rem, 1.8rem) !important; 
            text-align: justify;

            @include responsive(md) {
                width: 80%;
                text-align: center;
            }
        }
    }
}