@use '../../app/globals.scss' as *;

.about-us {
    padding: 80px 0 50px 0px;

    @include responsive(md) {
        padding: 20px 0 0px 0;
    }

    &__container {
        height: 480px;   
        @include flex-center(column);
    }

    &__content {
        display: flex;
        flex-flow: row nowrap;
                
        @include responsive(md) {
            flex-flow: column nowrap;
        }
    }

    &__title-container {
        flex: 0.5;
        border-right: 1px solid $white-primary;
        padding-right: 20px;

        @include responsive(md) {
            border-right: none;
        }
        
        &--label {
            font-size: clamp(10px, 0.5vw + 0.5em, 20px); 
            font-weight: 100;
            color: $white-primary;
        }

        &--title {
            font-weight: bold !important;
            color: $white-primary !important;
        }

        &--buttons-container {
            margin-top: 20px;
            display: flex;
            flex-flow: row nowrap;
            gap: 20px;

            @include responsive(md) {
                display: none;
            }

            &--mobile{
                display: none;
                gap: 20px;

                @include responsive(md) {
                    display: flex;
                }
            }

            .more-info-button {
                background-color: $white-primary;
                color: $black-primary;
            }

            .contact-button {
                background-color: $button-color-transparent;
                color: $white-primary;
            }
        }
    }

    &__description-container {
        flex: 0.5;
        @include flex-center(column);

        @include responsive(md) {
            align-items: flex-start;
            text-align: start;
            margin-top: 10px;
        }
        
        &--description {
            width: 80%;
            color: $white-primary !important;

            @include responsive(md) {
                width: 100%;
            }
        }
    }
}