@use '../../globals.scss' as *;
@use 'sass:color';

.contact-page {
    $self: &;
    padding: {
        top: 120px;
        bottom: 15px;
    }

    @include responsive(lg) {
        padding-top: 100px;
    }

    &__container {
        display: flex;
        justify-content: center;
        gap: 50px;

        @include responsive(lg) {
            gap: 30px;
        }

        @include responsive(md) {
            padding: 20px;
        }
    }

    &__image-container {
        flex: 0.4;
        position: relative; 
        border-radius: 30px;
        overflow: visible;
        margin-top: 10px;
        
        @include responsive(lg) {
            flex: 0.45;
        }

        @include responsive(md) {
            display: none; 
        }
    }

    &__image {
        width: 100%;
        height: 75% !important;
        aspect-ratio: 1 / 1;
        margin: auto;
        display: block;

        @include responsive(lg) {
            height: 65% !important;
        }
    }

    &__content {
        flex: 0.5;
        padding: 50px 20px;

        @include responsive(lg) {
            flex: 0.5;
            padding: 20px;
        }

        @include responsive(md) {
            flex: 1;
            padding: 0;
        }

        &--title, &--subtitle {
            font: {
                size: clamp(12px, 1vw + 1rem, 32px);
            }
        }

        &--title {
            font-weight: 300;
            color: $orange-primary;
        }

        &--subtitle {
            font-weight: 500;
            color: $blue-primary;
        }

        &--description {
            font: {
                size: clamp(12px, 1vw + 0.4rem, 18px);
            }
            color: $font-color-secondary;
        }
    }

    &__form-container {
        margin-top: 40px;

        @include responsive(lg) {
            margin-top: 20px;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 20px;

        &--input-group {
            width: 100%;
            display: flex;
            flex-flow: column;
            gap: 5px;

            &__names {
                display: flex;
                gap: 20px;

                @include responsive(lg) {
                    flex-direction: column;
                }

                &--input-group {
                    flex: 1;
                }
            }

            &--label {
                font-size: clamp(12px, 1vw, 16px);
                padding-bottom: 10px;
            }

            &--input {
                padding: 15px 20px;
                border-radius: 5px;
                border: 1px solid #ccc;
                width: 100%;
                margin-top: 5px;

                &:focus {
                    outline: none;
                    border-color: $blue-primary;
                }
            }
        }

        &--button {
            padding: 15px 20px;
            border: none;
            border-radius: 5px;
            background-color: $blue-primary;
            color: $white-primary;
            font: {
                size: clamp(12px, 1.2vw, 18px);
                weight: 400;
            }
            margin-top: 20px;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: color.scale($blue-primary, $lightness: -10%);
            }
        }
    }
}