@use '../../globals.scss' as *;

.contact-page {
    padding-top: clamp(90px, 8vw, 130px);
    background-color: $mint-cream;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;

    @include responsive(xl) {
        padding-left: 20px;
        padding-right: 20px;
    }

    &__container {
        flex: 1;
        display: grid;
        grid-template-columns: minmax(300px, 0.7fr) 1fr;
        gap: clamp(20px, 2vw, 30px);
        margin: clamp(20px, 4vw, 40px) auto clamp(30px, 5vw, 50px);
        background-color: rgba($white, 0.6);
        box-shadow: 0 4px 16px rgba(31, 38, 135, 0.10), 0 1.5px 6px rgba(0, 0, 0, 0.11);
        border-radius: 20px;
        border: 1px solid rgba($eerie-black, 0.1);
        overflow: hidden;
        padding: 0px !important;
        margin-bottom: 30px !important;

        @include responsive(xl) {
            gap: 0px;
        }

        @include responsive(lg) {
            grid-template-columns: 1fr;
            padding: 20px;
            margin: 20px;
        }
    }

    &__hero {
        position: relative;
        background: {
            image: url('/assets/images/background/hero-background.jpg');
            size: cover;
            position: center;
        }

        &::before {
            content: '';
            position: absolute;
            inset: 0;
            background-color: rgba($black, 0.6);
        }

        @include responsive(lg) {
            display: none;
        }
    }

    &__hero-content {
        position: relative;
        z-index: 1;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: clamp(15px, 2vw, 25px);
    }

    &__logo {
        position: absolute;
        width: 70px;
        height: 70px;
        margin: 0 auto;
        bottom: 5%;
        right: 5%;
    }

    &__subtitle {
        position: absolute;
        color: $font-color-secondary;
        font-size: 20px;
        text-align: start;
        margin: 0;
        bottom: 5%;
        left: 5%;
        max-width: 68%;
        font-weight: 300;
    }

    &__form {
        padding: 30px 10px;
    }
}