@use '../../../app/globals.scss' as *;

.expanded-result-card {
    border: 1px solid #d8d8d8;
    border-radius: 15px;
    padding-bottom: 20px;

    &__separator{
        padding: 20px 0px;
        margin: 10px 0px;
        position: relative;
        
        &::before {
            content: '';
            display: inline-block;
            width: 90%;
            height: 1px;
            background-color: $orange-50;
            vertical-align: text-top;
            top: 50%;
            transform: translateY(-50%);
            position: absolute;
            margin: 0 auto;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &__image-container {
        border-radius: 15px;
        overflow: hidden;
        width: 100%;
        position: relative;
        height: 400px;

        @include responsive(md) {
            height: 300px;
        }
    }

    &__title-container {
        padding: 10px 15px 0px 15px;
        height: 170px;

        @include responsive(md) {
            padding-bottom: 10px;
            height: auto;
        }

        &--title {
            font-size: clamp(16px, 2vw + 0.4rem, 26px);
            font-weight: 600;
            color: $black;
        }

        &--description {
            padding-top: 15px;
            font-size: clamp(12px, 2vw + 0.4rem, 19px);
            color: $font-color-secondary;
        }
    }


    &__content {
        height: 180px;
        display: flex;
        flex-flow: column;
        gap: 30px;
        padding: 10px 10px;
        box-sizing: border-box;

        @include responsive(md) {
            height: auto;
        }

        &--title {
            font-size: clamp(16px, 2vw + 0.4rem, 18px);
            font-weight: 500;
            color: $blue-100;
        }

        &--item {
            display: flex;
            gap: 10px;

            &--stat-container {
                width: 25px; 
                height: 25px;
                background-color: $orange-50;
                border-radius: 50%;
                @include flex-center;
                flex-shrink: 0;

                @include responsive(md) {
                    width: 20px; 
                    height: 20px;
                }
            }

            &--description {
                flex: 1;
                font-size: clamp(13px, 1.5vw + 0.4rem, 18px);
                color: $font-color-secondary;
                align-self: center;
            }
        }
    }
}