@use '../../../app/globals.scss' as *;

.expanded-result-card {
    border: 1px solid #dbdbdb;
    border-radius: 15px;
    padding-bottom: 15px;

    @include responsive(md) {
        padding-bottom: 30px;
    }

    &__image-container {
        border-radius: 15px;
        overflow: hidden;
        width: 100%;
        position: relative;
        height: 400px;

        @include responsive(md) {
            height: 300px;
        }
    }

    &__title-container {
        padding: 15px 10px;
        height: 130px;

        @include responsive(xl) {
            height: 140px;
        }

        @include responsive(md) {
            padding-bottom: 10px;
            height: auto;
        }

        &--title {
            font-size: clamp(18px, 1vw + 0.5rem, 24px);
            font-weight: 600;
            color: $eerie-black;

            @include responsive(md) {
                margin-bottom: 30px;
            }
        }

        &--category {
            padding-top: 15px;
            font-size: 16px;
            color: $dark-green;
            font-weight: 400;
        }
    }


    &__content {
        height: 170px;
        display: flex;
        flex-flow: column;
        gap: 15px;
        padding: 0px 20px;
        box-sizing: border-box;

        @include responsive(xl) {
            height: 200px;
        }

        @include responsive(md) {
            height: auto;
        }

        &--title{
            font-size: 16px;
            margin: -10px 0px 0px -10px;
            color: $dark-green;
            font-weight: 400;
        }

        &--item {
            display: flex;
            gap: 10px;
            @include flex-center(row);

            &--stat-container {
                width: 8px; 
                height: 8px;
                background-color: $dark-green;
                border-radius: 50%;
            }

            &--description {
                flex: 1;
                font-size: clamp(13px, 1.5vw + 0.4rem, 17px);
                color: $eerie-black;
                align-self: center;
            }
        }
    }
}