@use './_mixins' as *;
@use './_variables' as *;
@forward './__mixins';
@forward './__variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-roboto), sans-serif;
}	

body, html {
    max-width: 100%;
    overflow-x: hidden;
}

.page-container {
    width: 100%;
    position: relative;
    overflow-x: hidden;
}

.container{
    max-width: 1480px;
    margin: 0 auto;
    padding: 0px 20px;

    @include responsive(lg) {
        padding: 0px 30px;
    }

    @include responsive(md) {
        padding: 0px 15px;
    }
}

.title-template{
    font-size: clamp(20px, 2vw + 1.5rem, 58px); 
    font-weight: 600;
    color: $blue-primary;
}

.subtitle-template{
    font-size: clamp(18px, 1.8vw + 1.45rem, 56px); 
    color: $black;
    font-weight: 600;
}

.description-template{
    font-size: clamp(12px, 1vw + 0.4rem, 22px); 
    color: $font-color-secondary;
    font-weight: 400;
    line-height: clamp(0.4rem, 2vw + 0.5rem, 1.5rem); 
}   

.button-template{
    border-radius: 30px;
    color: $blue-100;
    font-weight: 400;
    cursor: pointer;
    padding: 10px 20px;
    width: 164px;
    height: 54px;
    font-size: clamp(12px, 0.4vw + 1rem, 18px); 
    text-decoration: none;
    border: 1px solid $border-color-primary;
    @include flex-center(row);
    transition: all 0.2s ease;

    @include responsive(lg) {
        width: 120px;
        height: 36px;
        font-size: 12px;
    }

    &:hover{
        transform: scale(1.02);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
}

