@use './_mixins' as *;
@use './_variables' as *;
@forward './__mixins';
@forward './__variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-roboto), sans-serif;
}	

body, html {
    max-width: 100%;
    overflow-x: hidden;
}

.container{
    max-width: 1480px;
    margin: 0 auto;
    padding: 0px 50px !important;
    box-sizing: border-box !important;

    @include responsive(xl) {
        max-width: 1200px;
        padding: 0px 70px;
    }

    @include responsive(lg) {
        padding: 0px 25px !important;
    }

    @include responsive(md) {
        padding: 0px 15px !important;
    }

    @include responsive(sm) {
        padding: 0px 10px !important;
    }
}

.description-template{
    font-size: clamp(12px, 1vw + 0.4rem, 20px); 
    color: $eerie-black;
    font-weight: 400;
    line-height: clamp(0.4rem, 2vw + 0.5rem, 1.5rem); 
}   

.button-template{
    border-radius: 30px;
    font-weight: 400;
    cursor: pointer;
    padding: 10px 20px;
    width: 164px;
    height: 54px;
    font-size: clamp(12px, 0.4vw + 1rem, 18px); 
    text-decoration: none;
    @include flex-center(row);
    transition: all 0.2s ease;

    @include responsive(lg) {
        width: 120px;
        height: 36px;
        font-size: 12px;
    }

    &:hover{
        transform: scale(1.02);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
}

