$black-primary: #1b1b1b;
$white-primary: #ffffff;

$blue-50: #4F5D78;
$blue-100: #1A3D7E;

$orange-50: #F9AE74;
$orange-100: #ED7D24;

$font-color-primary: #020101;
$font-color-secondary: #4A4A4A;
$font-color-tertiary: #A1A1A1;
$font-color-quaternary: #EFEFEF;

$border-color-primary: #cfcfcf;
$button-color-transparent: rgba(182, 182, 182, 0.267);

