$white:             #FFFFFF;
$black:             #161616;
$eerie-black:       #37424e;
$font-color-third:  #b6b6b6;
$font-color-secondary:  #f1f1f1;
$border-color-primary: #cfcfcf;


$blue-primary:      #005cb8;  
$blue-secondary:    #007BCE;   
$blue-light:        #53adfc;   
$blue-lighter:      #d4ebffff; 
$blue-gradient:     #2F66F8;   

$orange-primary:    #ff7300ff;  
$orange-gradient:   #FF6A00; 
$orange-light:      #F9AE74;  
$orange-lighter:    #ffead7ff;   

$gray-dark:         #333333;   
$gray-medium:       #5A6E85;   
$gray-light:        #F5F5F5;  


$green-yellow: #BFF565;
$mint-cream:   #F0F6ED;
$eerie-black:  #1C211F;
$dark-green:   #0F3529;

