$white:             #FFFFFF;
$black:             #1d1d1d;
$font-color-secondary: #37424e;
$border-color-primary: #cfcfcf;

$blue-primary:      #005cb8;  
$blue-secondary:    #007BCE;   
$blue-light:        #53adfc;   
$blue-lighter:      #d4ebffff; 
$blue-gradient:     #2F66F8;   

$orange-primary:    #ff7300ff;  
$orange-gradient:   #FF6A00; 
$orange-light:      #F9AE74;  
$orange-lighter:    #ffead7ff;   

$gray-dark:         #333333;   
$gray-medium:       #5A6E85;   
$gray-light:        #F5F5F5;  



