@use '../../app/globals.scss' as *;

.stats-badge {
    background-color: $black-primary;
    color: $white-primary;

    &__container {
        padding: 70px 0px;
    }   

    &__content {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
    }

    &__item {
        text-align: center;
        flex: 0.2;
        
        &--label {
            font-size: 48px;
            font-weight: bold;
            text-align: center;
        }

        &--value {
            font-size: 20px;
            font-weight: light;

        }
    }
}

