@use '../../app/globals.scss' as *;


.stats-badge {
    background-color: $black-primary;
    color: $white-primary;
    padding: 50px 20px;

    &__content {
        @include flex-center;
        justify-content: space-between;
        gap: 30px;

        @include responsive(lg) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
            row-gap: 50px;
        }

        @include responsive(md) {
            display: flex;
            flex-flow: column nowrap;
            gap: 50px;
        }
    }

    &__item {
        text-align: center;
        flex: 0.2;
        background: linear-gradient(90deg, #FFDEBD, #FFFAEE);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        
        &--label {
            font-size: clamp(16px, 1.5vw + 1.5rem, 48px);
            font-weight: bold;
            text-align: center;
        }

        &--value {
            font-size: clamp(12px, 1.5vw + 0.5rem, 20px);
            font-weight: 400;
        }
    }
}

