@use '../../app/globals.scss' as *;


.stats-badge {
    color: $white;
    padding: 50px 20px;
    margin: 120px 0;

    @include responsive(md) {
        margin: 40px 0;
    }

    &__title-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 60px;
    }

    &__title {
        font-size: clamp(24px, 2vw + 2.4rem, 48px);
        font-weight: 700;
        color: $black !important;
        text-align: center;
    }

    &__highlight {
        color: $blue-primary;
    }   

    &__content {
        @include flex-center;
        justify-content: space-between;
        gap: 30px;

        @include responsive(lg) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
            row-gap: 50px;
        }

        @include responsive(md) {
            display: flex;
            flex-flow: column nowrap;
            gap: 50px;
        }
    }

    &__item {
        text-align: center;
        flex: 0.25;
        background: $white;
        border-radius: 24px;
        box-shadow: -2px 4px 30px 0 rgba(0,0,0,0.15);
        padding: 32px 14px 28px 14px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        transition: box-shadow 0.2s;

        &:hover {
            box-shadow: 0 8px 32px 0 rgba(0,0,0,0.16);
        }

        &--icon {
            margin-bottom: 8px;
            font-size: 2.2rem;
            color: $blue-primary;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &--label {
            font-size: clamp(16px, 1.5vw + 1.5rem, 52px);
            font-weight: bold;
            text-align: center;
            color: $blue-primary;
        }

        &--value {
            font-size: clamp(12px, 1.5vw + 0.5rem, 20px);
            font-weight: 400;
            color: $font-color-secondary;
        }
    }
}

