@use '../../app/globals.scss' as *;

.stats-badge {
    width: 100%;

    &__content {
        @include flex-center;
        gap: 30px;
        justify-content: space-between;

        @include responsive(lg) {
            gap: 10px;
        }

        @include responsive(sm) {
            flex-direction: column;
            gap: 25px;
        }
    }

    &__item {
        display: flex;
        flex: 1;
        max-width: 33.333%;
        flex-direction: column;
        align-items: center;
        text-align: center;

        &--label {
            color: $eerie-black;
            font-size: clamp(16px, 1.5vw + 1.5rem, 52px);
            font-weight: bold;
            line-height: 1.2;

            &-highlight {
                color: $green-yellow;
            }
        }

        &--value {
            color: $eerie-black;
            font-size: clamp(12px, 1.5vw + 0.5rem, 20px);
            font-weight: 400;
            margin-top: 0.5rem;

            @include responsive(lg) {
                font-size: clamp(12px, 1.5vw + 0.5rem, 18px);
            }
        }
    }
}

