@use '../../app/globals.scss' as *;


.stats-badge {
    &__content {
        @include flex-center;
        justify-content: space-between;
        gap: 30px;

        @include responsive(lg) {
            gap: 10px;
        }
    }

    &__item {
        flex: 0.3;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        &--label {
            font-size: clamp(16px, 1.5vw + 1.5rem, 52px);
            font-weight: bold;
            text-align: start;
            color: $eerie-black;

            &-highlight {
                color: $green-yellow;
            }
        }

        &--value {
            font-size: clamp(12px, 1.5vw + 0.5rem, 20px);
            font-weight: 400;
            color: $eerie-black;

            @include responsive(lg) {
                font-size: clamp(12px, 1.5vw + 0.5rem, 18px);
            }
        }
    }
}

