@use '../../globals.scss' as *;

.services-page {
    padding: 180px 0px 15px;

    @include responsive(lg) {
        padding-top: 140px;
    }

    &__container {
        display: flex;
        flex-direction: column;
        gap: 50px;
        padding-bottom: 80px;
    }

    &__hero {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 40px;

        @include responsive(lg) {
            flex-direction: column;
            align-items: center;
        }

        &-content {
            flex: 0.7;
            color: $blue-100;
            position: relative;           
        }

        &-title {
            margin-bottom: 15px;
            color: $black;

            @include responsive(lg) {
                margin-bottom: 10px;
            }

            span {
                color: $blue-primary;
            }
        }

        &-description {
            width: 90%;

            @include responsive(lg) {
                width: 100%;
            }
        }

        &-image {
            flex: 0.55;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            @include responsive(lg) {
                display: none;
            }

            &-container {
                position: relative;
                width: 450px;
                height: 375px;
            }
        }

        &-button {
            &-container {
                display: flex;
                margin-top: 20px;

                @include responsive(md) {
                    margin-top: 10px;
                }
            }

            background-color: $blue-primary;
            color: $white !important;
            width: auto !important;
            border: none;
            margin-top: 10px;
        }
    }
}