@use '../../globals.scss' as *;

.services-page {
    position: relative;
    padding: clamp(140px, 10vw, 160px) 0 15px;
    background-color: $mint-cream;

    &__container {
        display: flex;
        flex-direction: column;
        gap: clamp(30px, 4vw, 50px);
        padding-bottom: clamp(0px, 2vw, 20px);
    }

    &__hero {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: clamp(40px, 6vw, 80px);

        @include responsive(lg) {
            flex-direction: column;
            align-items: stretch;
        }

        &-content {
            flex: 1 1 65%;
            position: relative;   
            
            @include responsive(lg) {
                flex-basis: 100%;
            }
        }

        &-title {
            color: $eerie-black;
            margin-bottom: clamp(10px, 1.5vw, 15px);
            font-size: clamp(2rem, 3.5vw + 1rem, 4.3rem);
            line-height: 1.15;
            
            @include responsive(lg) {
                text-align: center;
            }
        }

        &-description {
            width: 100%;
            font-size: clamp(1rem, 1vw + 0.5rem, 1.5rem);
            line-height: clamp(1.6rem, 1.7vw + 1rem, 2rem);

            @include responsive(lg) {
                text-align: center;
            }
            
            &--mobile {
                display: none;

                @include responsive(lg) {
                    display: block;
                }
            }
        }

        &-image {
            flex: 1 1 35%;
            display: flex;
            align-items: center;

            @include responsive(lg) {
                display: none;
            }
        }
    }

    &__image-container {
        width: 100%;
        height: clamp(200px, 30vw, 400px);
        background: {
            position: bottom;
            size: cover;
            repeat: no-repeat;
        }
        border-radius: 16px;
    }
}