@use '../../globals.scss' as *;

.services-page {
    position: relative;
    padding: 180px 0 15px;
    background-color: $mint-cream;

    @include responsive(lg) {
        padding-top: 140px;
    }

    &__container {
        display: flex;
        flex-direction: column;
        gap: 50px;
        padding-bottom: 80px;
    }

    &__hero {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 40px;

        @include responsive(lg) {
            flex-direction: column;
            align-items: stretch;
        }

        &-content {
            flex-basis: 55%;
            position: relative;           
        }

        &-title {
            color: $eerie-black;
            margin-bottom: 15px;
            font-size: clamp(3rem, 4.5vw + 1rem, 6rem);
            line-height: 1.15;

            @include responsive(lg) {
                margin-bottom: 10px;
                font-size: clamp(2.5rem, 4vw, 6rem);
            }
        }

        &-description {
            width: 100%;
            font-size: clamp(1rem, 1vw + 0.5rem, 1.5rem);
            line-height: clamp(1.6rem, 1.7vw + 1rem, 2rem);
            
            &--mobile {
                display: none;

                @include responsive(lg) {
                    display: block;
                }
            }
        }

        &-image {
            flex-basis: 40%;
            display: flex;
            align-items: center;

            @include responsive(lg) {
                display: none;
            }
        }
    }

    &__image-container {
        height: 400px;
        width: 100%;
        background-image: url('../../../../public/assets/images/services/services_image.jpg');
        background-position: bottom;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 16px;

        @include responsive(lg) {
            height: 300px;
        }

        @include responsive(md) {
            height: 200px;
        }
    }
}