@use '../../globals.scss' as *;

.results-page {
    background-color: $mint-cream;
    padding: clamp(100px, 10vw, 110px) 0 15px;

    &__hero {
        padding: clamp(20px, 4vw, 40px) 0;
        text-align: center;
    }

    &__hero-content {
        @include flex-center(column);
        gap: clamp(10px, 2vw, 20px);
        width: 80%;
        margin: 0 auto;
    }

    &__hero-title {
        color: $eerie-black;
        font-size: clamp(2rem, 3.5vw + 1rem, 4.3rem);
        line-height: 1.15;
    }

    &__hero-description {
        font-size: clamp(16px, 1vw + 0.8rem, 24px);
        font-weight: 400;
        max-width: 80%;
        line-height: 1.4;

        @include responsive(md) {
            max-width: 100%;
        }
    }

    &__hero-button {
        background-color: transparent;
        color: $eerie-black;
        border: 1px solid $eerie-black;
        transition: all 0.3s ease;
        width: fit-content !important;
        &:hover {
            background-color: $green-yellow;
            color: $eerie-black;
            transform: translateY(-2px);
        }
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min(100%, 350px), 1fr));
        gap: clamp(15px, 2vw, 30px);
        margin: clamp(20px, 3vw, 30px) 0;

        &-item {
            &:last-child {
                grid-column: auto;
            }
        }
    }
}

