@use '../../globals.scss' as *;

.results-page {
    background-color: $mint-cream;
    padding: 150px 0px 15px;

    @include responsive(lg) {
        padding-top: 80px;
    }

    &__container{
        padding-bottom: 60px;
    }
    
    &__hero {
        padding: 40px 0;
        gap: 20px;
        text-align: center;

        @include responsive(md) {
            gap: 10px;
            padding-bottom: 20px;
        }

        &-title-container {
            @include flex-center(column);

            &--title {
                margin-bottom: 15px;
                color: $eerie-black;
                font-size: clamp(3.5rem, 4.5vw + 0.8rem, 5rem);
                line-height: 1.15;

                @include responsive(lg) {
                    margin-bottom: 10px;
                }

                @include responsive(md) {
                    font-size: clamp(3rem, 4.5vw, 8rem);
                    line-height: clamp(3rem, 4vw, 9rem);
                }
            }

            &--description {
                font: {
                    size: clamp(16px, 1vw + 1.3rem, 24px);
                    weight: 400;
                }
                max-width: 80%;
                margin: 20px 0;

                @include responsive(md) {
                    font-size: clamp(16px, 1vw + 1.3rem, 18px);
                    max-width: 100%;
                    line-height: 1.3rem;
                }
            }

            &--button {
                background-color: transparent;
                color: $eerie-black;
                border: 1px solid $eerie-black;
                width: auto !important;

                &-container {
                    @include flex-center(column);
                    gap: 20px;
                    flex-wrap: wrap;
                }

                @include responsive(md) {
                    margin-bottom: 20px;
                }
            }
        }
    }

    &__content {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        gap: 15px;
        margin: 30px 0;
        row-gap: 30px;

        @include responsive(md) {
            flex-direction: column;
            gap: 20px;
        }

        &--item {
            flex-basis: calc(100% / 3 - 12px);

            @include responsive(lg) {
                flex-basis: calc(100% / 2 - 12px);
            }

            @include responsive(md) {
                flex-basis: 100%;
            }

            &:last-child {
                margin-right: auto;
            }
        }
    }
}

