@use '../../globals.scss' as *;

.results-page {
    $self: &;
    padding: {
        top: 130px;
        bottom: 15px;
    }

    @include responsive(lg) {
        padding-top: 80px;
    }

    &__container{
        padding-bottom: 60px;
    }
    
    &__hero {
        padding: 40px 0;
        gap: 20px;
        text-align: center;

        @include responsive(md) {
            gap: 10px;
            padding-bottom: 20px;
        }

        &-title-container {
            @include flex-center(column);
            gap: 10px;

            &--title {
                color: $black !important;
            }

            &--highlight {
                color: $orange-primary;
            }

            &--description {
                font: {
                    size: clamp(16px, 1vw + 1.3rem, 24px);
                    weight: 400;
                }
                max-width: 80%;
                margin: 20px 0;

                @include responsive(md) {
                    font-size: clamp(16px, 1vw + 1.3rem, 18px);
                    max-width: 100%;
                    line-height: 1.3rem;
                }
            }

            &--button {
                background-color: $orange-100;
                color: $white-primary !important;
                width: auto !important;
                border: none;

                &-container {
                    @include flex-center(column);
                    gap: 20px;
                    flex-wrap: wrap;
                }

                @include responsive(md) {
                    margin-bottom: 20px;
                }
            }
        }

        &-stats-container {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 60px;
            align-items: start;
            margin: 70px 0px 40px;

            @include responsive(md) {
                grid-template: repeat(2, 1fr) / repeat(2, 1fr);
                gap: 30px;
                margin: 20px 0 50px;
            }

            &--item {
                @include flex-center(column);
                text-align: center;

                &--data {
                    font: {
                        size: clamp(18px, 1vw + 2rem, 48px);
                        weight: 700;
                    }
                    color: $orange-primary;

                    @include responsive(lg) {
                        font-size: clamp(16px, 1.5vw + 1.5rem, 28px);
                    }
                }

                &--description {
                    font: {
                        size: clamp(12px, 0.5vw + 0.6rem, 18px);
                        weight: 300;
                    }
                }
            }
        }
    }

    &__content {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        gap: 15px;
        margin: 30px 0;
        row-gap: 30px;

        @include responsive(md) {
            flex-direction: column;
            gap: 20px;
        }

        &--item {
            flex-basis: calc(100% / 3 - 12px);

            @include responsive(lg) {
                flex-basis: calc(100% / 2 - 12px);
            }

            @include responsive(md) {
                flex-basis: 100%;
            }

            &:last-child {
                margin-right: auto;
            }
        }
    }
}

.break-line {
    @include responsive(lg) {
        display: none;
    }
}