@use '../../globals.scss' as *;

.results-page {
    margin-top: 160px;
    margin-bottom: 15px;

    @include responsive(lg) {
        margin-top: 80px;
    }

    &__hero {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        padding: 40px 0px;

        @include responsive(lg) {
            justify-content: center;
            align-items: center;
        }

        @include responsive(md) {
            flex-direction: column;
            align-items: center;
            gap: 10px;
            padding-bottom: 20px;
        }

        &-title-container {
            flex: 0.5;
            display: flex;
            flex-flow: column nowrap;
            gap: 20px;

            @include responsive(lg) {
                flex: 0.65;
            }

            @include responsive(md) {
                gap: 10px;
            }

            &--title {
                position: relative;

                &::before {
                    content: '';
                    display: inline-block;
                    width: 30%;
                    height: 1px;
                    background-color: #F9AE74;
                    vertical-align: text-top;
                    top: -5px;
                    position: absolute;
                }
            }

            &--button-container {
                display: flex;
                gap: 20px;
                flex-wrap: wrap;
            }

            &--button {
                background-color: $orange-100;
                color: $white-primary !important;
                width: auto !important;
                border: none !important;

                @include responsive(md) {
                    display: none !important;
                }
                
                &--mobile {
                    display: none !important;

                    @include responsive(md) {
                        display: block !important;
                    }
                }
            }
        }

        &-stats-container {
            flex: 0.45;
            display: grid;
            grid-template-columns: repeat(2, 1fr); 
            grid-template-rows: repeat(2, 1fr);  
            gap: 60px; 
            align-items: start;

            @include responsive(lg) {
                grid-template-columns: repeat(1, 1fr); 
                flex: 0.3;
                gap: 30px; 
                row-gap: 30px;
            }
            
            @include responsive(md) {
                grid-template-columns: repeat(4, 1fr); 
                grid-template-rows: repeat(1, 1fr);  
                gap: 30px; 
                margin: 20px 0px;
            }

            @include responsive(sm) {
                grid-template-columns: repeat(2, 1fr); 
                grid-template-rows: repeat(2, 1fr);  
                gap: 30px; 
            }

            &--item {
                @include flex-center(column);
                text-align: center;

                &--data {
                    font-size: clamp(18px, 1vw + 2rem, 50px);
                    font-weight: 600;

                    @include responsive(lg) {
                        font-size: clamp(16px, 1.5vw + 1.5rem, 30px);
                    }
                }

                &--description {
                    font-size: clamp(10px, 0.7vw + 0.3rem, 26px);
                    font-weight: 300;       
                }
            }
        }
    }

    &__content {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        gap: 10px;
        row-gap: 20px;
        margin: 30px 0px;

        @include responsive(md) {
            flex-direction: column;
        }

        &--item {
            flex-basis: calc(100% / 3 - 10px);

            @include responsive(lg) {
                flex-basis: calc(100% / 2 - 10px);
            }

            @include responsive(md) {
                flex-basis: 100%;
            }

            &:last-child {
                margin-right: auto; 
            }
        }
    }
}

.break-line{
    @include responsive(lg) {
        display: none;
    }
}