@use './globals.scss' as *;

.home-page {
  display: flex;
  flex-flow: column nowrap;
  gap: 60px;
  overflow: hidden;

  @include responsive(lg) {
    gap: 30px;
  }
}

.header-container {
  position: absolute;
}

.services-section {
  @include flex-center(column);
  gap: 50px;

  @include responsive(lg) {
    gap: 20px;
  }

  &__content {
    @include flex-center(row);
    justify-content: space-between;

    @include responsive(lg) {
      @include flex-center(column);
      align-items: start;
      gap: 10px;
    }
  }

  &__title-container {
    flex-basis: 60%;
  }

  &__title {
    width: 80%;

    @include responsive(lg) {
      width: 100%;
    }
  }

  &__description-container {
    flex-basis: 40%;
    @include flex-center(column); 
    justify-content: space-around;
    align-items: start;
    position: relative;
    gap: 20px;

    @include responsive(lg) {
      gap: 10px;
    }

    &::before {
      content: '';
      display: block;
      width: 30%;
      height: 1px;
      background-color: #F9AE74;
      position: absolute;
      top: -10px;
      left: 0;

      @include responsive(lg) {
        width: 0%;
      }
    }
  }

  &__button {
    background-color: transparent;
  }

  &__services {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 10px;

    @include responsive(md) {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(2, auto);
    }

    .service-card-container {
      flex: 1;
      height: 400px;
      transition: transform 0.2s ease;
      border-radius: 15px;
      overflow: hidden;

      @include responsive(md) {
        height: 300px;
      }

      &:hover {
        transform: scale(1.02);
      }
    }
  }
}

.results-section-container {
  &__title-container {
    @include flex-center(column); 
    text-align: center;
    margin-bottom: 20px;
  }

  &__title {
    font-weight: 300;

    span {
      color: $blue-100;
      font-weight: 500;

      @include responsive(sm) {
        font-size: clamp(16px, 2vw + 1.5rem, 20px) !important;
      }
    }

    @include responsive(sm) {
      font-size: clamp(16px, 2vw + 1.5rem, 20px) !important;
    }
  }
}

.bottom-section {
  background-image: url('/assets/images/bottom-background.jpg');
  background-position: center;
  background-size: cover;
  padding-bottom: 20px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }

  * {
    position: relative;
    z-index: 2;
  }
}