@use './globals.scss' as *;

.home-page {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
  overflow: hidden;

  @include responsive(lg) {
    gap: 20px;
  }
}

.header-container {
  position: absolute;
}

.services-section {
  @include flex-center(column); 
  gap: 50px;

  @include responsive(lg) {
    gap: 20px;
  }

  &__content {
    text-align: center;
    @include flex-center(column);

    @include responsive(lg) {
      @include flex-center(column);
      align-items: center;
      gap: 10px;
    }
  }

  &__title-container {
    width: 100%;
    margin-bottom: 30px;
    @include flex-center(column);

    @include responsive(lg) {
      margin-bottom: 10px;
    }
  }

  &__title {
    width: 80%;

    @include responsive(lg) {
      width: 100%;
    }
  }

  &__description-container {
    width: 75%;
    @include flex-center(column); 
    justify-content: space-around;
    align-items: start;
    position: relative;
    gap: 20px;

    @include responsive(lg) {
      width: 100%;
      gap: 10px;
      padding: 0px 10px;
    }
  }

  &__button {
    background-color: transparent;
    width: 250px !important;
    background-color: $blue-primary;
    color: $white !important;
    
    @include responsive(lg) {
      width: 200px !important;
    }
  }

  &__services {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 10px;
    margin-top: 10px;

    @include responsive(md) {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(2, auto);
    }

    .service-card-container {
      flex: 1;
      height: 400px;
      transition: transform 0.2s ease;
      border-radius: 15px;
      overflow: hidden;

      @include responsive(md) {
        height: 300px;
      }

      &:hover {
        transform: scale(1.02);
      }
    }
  }
}

.results-section-container {
  &__title-container {
    @include flex-center(column); 
    text-align: center;
    margin-bottom: 20px;
  }

  &__title {
    color: $black;
    margin-bottom: 20px;


    span {
      color: $orange-primary;

      @include responsive(sm) {
        font-size: clamp(16px, 2vw + 1.5rem, 20px) !important;
      }
    }

    @include responsive(sm) {
      font-size: clamp(16px, 2vw + 1.5rem, 20px) !important;
    }
  }

  &__description {
    width: 60% !important;
  }
}

.bottom-section {
  position: relative;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;


  @include responsive(md) {
    margin-top: 80px;
    height: auto;
  }
}

