@use './globals.scss' as *;

.home-page {
  display: flex;
  flex-flow: column nowrap;
  gap: 150px;
  overflow: hidden;
  background-color: $mint-cream;

  @include responsive(lg) {
    gap: 120px;
  }

  @include responsive(md) {
    gap: 80px;
  }
}

.header-container {
  position: absolute;
}

.aboutus-section {
  gap: 50px;
  @include flex-center(column); 

  @include responsive(lg) {
    gap: 20px;
  }

  &__content {
    text-align: center;
    @include flex-center(column);

    @include responsive(lg) {
      align-items: center;
      gap: 10px;
    }
  }

  &__title-container {
    width: 100%;
    margin-bottom: 30px;
    @include flex-center(row);
    align-items: start;
    justify-content: space-between;

    @include responsive(md) {
      margin-bottom: 10px;
      @include flex-center(column);
      align-items: start;
    }
  }

  &__title {
    width: 60%;
    color: $eerie-black;
    text-align: start;
    font-size: clamp(1.5rem, 2.5vw + 0.5rem, 2.5rem); 

    @include responsive(md) {
      width: 100%;
      text-align: start;
    }
  }

  &__description-container {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    height: 550px;
    margin-top: 70px;

    @include responsive(lg) {
      height: 420px;
      gap: 40px;
      margin-top: 20px;
    }

    @include responsive(md) {
      flex-direction: column;
      gap: 20px;
      margin-top: 20px;
      height: 600px;
    }

    &__image-container{
      flex-basis: 50%;
      position: relative;
      height: 100%;
      border-radius: 20px;
      overflow: hidden;

      @include responsive(lg) {
        flex-basis: 45%;
      }

      @include responsive(md) {
        flex-basis: 100%;
        width: 100%;
      }
    }

    &__info-container{
      flex-basis: 45%;
      padding-top: 40px;

      @include responsive(lg) {
        padding-top: 20px;
        flex-basis: 50%;
      }
      
    }
  }

  &__description{
    text-align: start;
    margin-bottom: 40px;

    &__image-container {
      position: relative;
      width: 100px;
      height: 100px;
      margin-top: 50px;
      animation: spin 8s linear infinite;

      @keyframes spin {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }

      @include responsive(lg) {
        width: 70px;
        height: 70px;
        margin-top: 30px;
      }

      @include responsive(md) {
        display: none;
      }
    }
  }

  &__button {
    width: 250px !important;
    background-color: $orange-primary;
    color: $white !important;
    margin-top: 40px;
    
    @include responsive(lg) {
      width: 200px !important;
    }
  }
}

.services-section {
  @include flex-center(column); 
  gap: 50px;

  @include responsive(lg) {
    gap: 20px;
  }

  &__content {
    width: 100%;
  }

  &__title-container  {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    gap: 20px;

      > *:nth-child(1) {
        flex-basis: 30%;
        align-items: start;
        position: relative;
      }

      > *:nth-child(2) {
        flex-basis: 60%;
        align-self: center;
        position: relative;
      }

      > *:nth-child(3) {
        flex-basis: 25%;
        align-self: flex-end;
        position: relative;
        display: flex;
        justify-content: flex-end;

        @include responsive(md) {
          all: unset;
        }
      }

      @include responsive(md) {
        all: unset;
        display: flex;
        flex-flow: column nowrap;
      }
  }

  &__title {
    color: $eerie-black;
    font-size: clamp(20px, 2vw + 1.5rem, 50px); 

    @include responsive(lg) {
      font-size: clamp(20px, 2vw + 1.5rem, 32px); 
      width: 100%;
    }

    @include responsive(md) {
      font-size: clamp(20px, 2vw + 1.5rem, 28px);
    }
  }

  &__button {
    width: 200px !important;
    background-color: $green-yellow;
    color: $eerie-black !important;
    
    @include responsive(lg) {
      width: 150px !important;
      margin-top: 15px;
    }
  }

  &__services {
    display: flex;
    height: 500px;
    width: 85%;
    gap: 60px;
    margin-top: 40px;

    @include responsive(lg) {
      width: 90%;
    }

    @include responsive(md) {
      width: 100%;
      margin-top: 10px;
    }
  }

  &__description-container {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    height: 550px;
    margin-top: 70px;

    @include responsive(lg) {
      height: 420px;
      gap: 40px;
    }

    @include responsive(md) {
      flex-direction: column;
      gap: 20px;
      margin-top: 20px;
      height: 600px;
    }

    &__image-container{
      flex-basis: 50%;
      position: relative;
      height: 100%;
      border-radius: 20px;
      overflow: hidden;
      margin-top: 70px !important;
    

      @include responsive(lg) {
        flex-basis: 45%;
      }

      @include responsive(md) {
        flex-basis: 100%;
        width: 100%;
        display: none;
      }
    }

    &__info-container{
      flex-basis: 45%;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-around;

      @include responsive(lg) {
        padding-top: 20px;
        flex-basis: 50%;
      }

      @include responsive(md) {
        flex-basis: 100%;
        padding-top: 0px;
      }
    }
  }

  &__service-card{
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    cursor: pointer;
    transition: transform 0.2s ease;
    text-decoration: none;
    color: $eerie-black;

    &:hover {
      transform: scale(1.01);
      color: $green-yellow;
    }

    &--icon{
      padding-top: 20px;
    }

    &--title{
      font-size: clamp(20px, 2vw + 1.5rem, 24px); 
    }

    &--category{
      padding-left: 20px;
      font-size: 16px; 
      color: $eerie-black;
      font-weight: 500;
    }
  }
}

.about-section{
  height: 104vh;
  background-color: $black;
  position: relative;
  overflow: hidden;

  @include responsive(lg) {
    height: 70vh;
  }

  &__image-container--sun {
    position: absolute;
    top: -35%;
    left: -25%;
    width: 70%;
    height: 95%;
    z-index: 0;
    filter: brightness(0.2);

    @include responsive(md) {
      display: none;
    }

    @include responsive(lg) {
      left: -35%;
      top: -50%;
    }
  }

  &__image-container--solar-panel {
    position: absolute;
    bottom: -40%;
    right: -30%;
    width: 100%;
    height: 100%;
    z-index: 1;
    filter: grayscale(0.8) contrast(1.2);

    @include responsive(md) {
      bottom: -50%;
      right: -20%;
    }
  }

  &__title-container {
    width: 100%;
    margin-top: 100px;
    @include flex-center(row);
    align-items: start;
    justify-content: space-between;

    @include responsive(md) {
      margin-bottom: 10px;
      @include flex-center(column);
      align-items: start;
      margin-top: 50px;
    }
  }

  &__content-container {
    flex-basis: 60%;
    position: relative;
    z-index: 2;

      @include responsive(lg) {
      flex-basis: 70%;
    }

    @include responsive(md) {
      flex-basis: 100%;
    }
  }

  &__title{
    color: $mint-cream;
    margin-bottom: 40px;
    font-size: clamp(20px, 1vw + 2rem, 42px); 
    z-index: 3;

    @include responsive(lg) {
      font-size: clamp(18px, 1vw + 1.4rem, 38px);
    }

    @include responsive(md) {
      font-size: clamp(18px, 0.5vw + 1.4rem, 38px);
    }
  }

  &__description {
    margin-bottom: 30px;
    color: $mint-cream !important;
    font-weight: 300;
    font-size: clamp(16px, 0.5vw + 1rem, 22px); 
    line-height: clamp(1.5rem, 1vw + 0.8rem, 1.8rem);
    z-index: 3;
  }

  &__button{
    background-color: $green-yellow;
    color: $eerie-black;
    cursor: pointer;
    width: 230px !important;

    @include responsive(lg) {
      width: 180px !important;
    }
  }
}

.results-section-container {
  &__title-container {
    width: 100%;
    margin-bottom: 50px;
    @include flex-center(row); 
    align-items: start;
    justify-content: space-between;

    @include responsive(md) {
      @include flex-center(column); 
      align-items: start;
      margin-bottom: 20px;
    }
  }

  &__title {
    flex-basis: 60%;
    color: $eerie-black;
    margin-bottom: 80px;
    font-size: clamp(1.5rem, 2.5vw + 0.2rem, 2.5rem); 

    @include responsive(lg) {
      margin-bottom: 0px;
    }

    @include responsive(md) {
      margin-bottom: 30px;
    }
  }
}

.contact-section-container {
  background-color: $eerie-black;
  padding: 100px 0;

  @include responsive(md) {
    padding: 60px 0;
  }

  &__title-container {
    width: 100%;
    margin-bottom: 50px;

    @include responsive(md) {
      @include flex-center(column); 
      align-items: start;
      margin-bottom: 20px;
    }

    &:after {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background-color: $mint-cream;
      margin: 60px 0;

      @include responsive(md) {
        margin: 20px 0;
      }
    }
  }

  &__title {
    flex-basis: 100%;
    color: $green-yellow !important;
    margin-bottom: 20px;
    font-size: clamp(3.5rem, 10vw, 6rem);
    text-align: center;

    @include responsive(lg) {
      font-size: clamp(2rem, 7vw, 6rem);
    }
  }

  &__content-container {
    display: flex;
    justify-content: space-between;
    flex-basis: 100%;

    @include responsive(md) {
      @include flex-center(column);

      & > :nth-child(1) {
        display: none;
      }
    }
  }

  &__description {
    width: 50% !important;
    color: $white !important;
    font-weight: 300;

    @include responsive(md) {
      width: 90% !important;
      text-align: center;
    }
  }

  &__button{
    background-color: transparent;
    color: $mint-cream;
    border: 1px solid $mint-cream;

    @include responsive(md) {
      margin-top: 30px;
    }
  }
}

