//shared styles

main{
  display: flex;
  flex-flow: column nowrap;
  gap: 60px;
  overflow: hidden;
}


.header-container{
  position: absolute;
}

.services-section {
  display: flex;
  flex-flow: column nowrap;
  gap: 50px;

  &__content {
    display: flex;
    flex-direction: row nowrap;
    justify-content: space-between;
  }

  &__title-container {
    flex-basis: 60%;
  }

  &__title {
    font-size: 66px;
    font-weight: 600;
    color: #1A3D7E;

    span{
      color: #4F5D78;
      font-weight: 400;
    }
  }

  &__description-container {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    position: relative;;

    &::before {
      content: '';
      display: block;
      width: 30%;
      height: 1px;
      background-color: #F9AE74;
      margin-bottom: 20px;
      position: absolute;
      top: -3px;
    }
  }

  &__button {
    border-radius: 30px;
    width: 144px;
    height: 48px;
    color: #1A3D7E;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid #D2D2D2;
    background-color: transparent;
    cursor: pointer;
  }

  &__description {
    font-size: 18px;
    color: #4A4A4A;
    line-height: 1.2;
    font-weight: 400;
  }

  &__services {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 10px;


    .service-card-container {
      flex: 1;
      height: 400px;
      transition: transform 0.2s ease;
      border-radius: 15px;
      overflow: hidden;

      &:hover {
        transform: scale(1.02);
      }
    }
  }
}

.bottom-section {
  background-image: url('/assets/images/buttom-background.jpg');
  background-position: center;
  background-size: cover;
  padding-bottom: 20px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.45); 
    z-index: 1;
  }

  * {
    position: relative;
    z-index: 2;
  }
}