@use '../../app/globals.scss' as *;

.temporal{
    background-color: red;
    width: 100%;
    height: auto;
}

.header {
    position: fixed; 
    top: 0; 
    z-index: 1000; 
    background-color: transparent;
    color: $white-primary;
    width: 100%; 
    box-sizing: border-box;
    padding-top: 15px;
    transition: background-color 0.3s ease, transform 0.3s ease;

    &--visible {
        transform: translateY(0); 
    }

    &--hidden {
        transform: translateY(-100%); 
    }

    &__wrapper {
        width: 97%;
        margin: 0 auto;
        background-color: transparent;
        padding: 20px 40px; 
        border-radius: 30px;

        &--scrolled {
            background-color: $black-primary;
        }
    }

    &__container {
        display: flex;
        gap: 20px;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        margin: 0 auto;
    }

    &__logo {
        flex-basis: 20%;
        
        h1 {
            font-size: 20px;
            font-weight: 500;
        }
    }

    &__nav {
        flex-basis: 50%;
        display: flex;
        align-items: center;

        &-list {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
            width: 100%;
            list-style: none;
            padding: 0;
        }

        &-item {
            &--link {
                text-decoration: none;
                color: $white-primary;
                font-size: 16px;
                font-weight: 300;
            }
        }
    }

    &__contact {
        flex-basis: 20%;
        display: flex;
        justify-content: flex-end;

        &-button {
            background-color: $white-primary;
            width: 144px;
            height: 48px;
            border-radius: 30px;
            font-weight: 700;
            font-size: 16px;
            border: none;
            cursor: pointer;
        }
    }
}
