@use '../../app/globals.scss' as *;

.header {
    position: fixed; 
    top: 0; 
    z-index: 1000; 
    background-color: transparent;
    color: $white-primary;
    width: 100%; 
    box-sizing: border-box;
    padding-top: 15px;
    transition: background-color 0.3s ease, transform 0.3s ease;

    &--visible {
        transform: translateY(0); 
    }

    &--hidden {
        transform: translateY(-100%); 
    }

    &__wrapper {
        width: 97%;
        margin: 0 auto;
        background-color: transparent;
        padding: 10px 40px; 
        border-radius: 30px;

        @include responsive(lg) {
            padding: 12px 10px;
        }

        &--scrolled {
            background-color: $black-primary;
        }
    }

    &__container {
        @include flex-center;
        justify-content: space-between;
        gap: 20px;
        width: 100%;
        margin: 0 auto;
        max-width: 1400px;

        @include responsive(lg) {
            max-width: none;
            width: 100%;
            padding: 0px 20px;
        }

        @include responsive(lg) {
            flex-direction: row;
        }
    }

    &__logo--container {
        flex-basis: 20%;

        h1 {
            font-size: clamp(16px, 2vw, 20px); 
            font-weight: 500;
        }
    }

    &__logo{
        width: 150px;
        height: 75px;
        position: relative;

        @include responsive(lg) {
            width: 115px;
            height: 60px;
        }
    }

    &__nav {
        flex-basis: 50%;
        display: flex;
        align-items: center;

        @include responsive(lg) {
            display: none;
        }

        &--open {
            display: block;
            position: absolute;
            top: 110%;
            left: 50%;
            transform: translateX(-50%);
            width: 97%;
            background-color: $black-primary;
            padding: 20px 30px;
            border-radius: 30px;
            z-index: 1000;

            .header__nav-item {
                padding: 5px 0;
            }
        }

        &-list {
            @include flex-center;
            justify-content: space-around;
            width: 100%;
            list-style: none;
            padding: 0;

            @include responsive(lg) {
                flex-direction: column;
                display: block;
            }
        }

        &-item {
            &--link {
                text-decoration: none;
                color: $white-primary;
                font-size: clamp(14px, 1.5vw, 16px); 
                font-weight: 300;

                @include responsive(lg) {
                    padding: 10px 0;
                    display: block;
                }
            }
        }
    }

    &__contact {
        flex-basis: 20%;
        display: flex;
        justify-content: flex-end;

        @include responsive(lg) {
            display: none;
        }

        &-button {
            @include flex-center;
            background-color: $white-primary;
            border: none !important;
            color: $black-primary !important;        
        }
    }

    &__toggle {
        display: none;

        @include responsive(lg) {
            display: block;
            font-size: clamp(20px, 2vw, 24px); 
            color: $white-primary;
            cursor: pointer;
            margin-left: auto;
        }
    }
}