@use '../../app/globals.scss' as *;

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100vw;
    color: $white;
    background-color: transparent;
    box-sizing: border-box;
    transition: all 0.3s cubic-bezier(0.4,0,0.2,1);

    &--visible {
        transform: translateY(0);
    }

    &__wrapper {
        width: 100%;
        margin: 0 auto;
        background-color: transparent;
        transition: background-color 0.3s ease;
        padding: 5px 0px;

        @include responsive(lg) {
            padding: 10px 10px;
            transition: unset;
        }

        &--scrolled {
            background-color: $eerie-black;
            border-bottom: 1.5px solid #2b2b2b;
            box-shadow: 4px 4px 12px 2px rgba(107, 107, 107, 0.15);
        }
    }

    &__container {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        gap: 20px;
        width: 100%;
        margin: 0px auto 0px;
        max-width: 1480px;
        padding: 0px 20px;

        @include responsive(xl){
            max-width: 1180px;
            padding: 0px 30px;
        }

        @include responsive(lg) {
            max-width: none;
            width: 100%;
            padding: 0px 20px;
            flex-direction: row;
        }
    }

    &__logo {
        position: relative;
        width: 100px;
        height: 55px;

        @include responsive(lg) {
            width: 70px;
            height: 40px;
        }

        &-container {
            flex-basis: 15%;
        }
        &-image {
            filter: brightness(1.2) contrast(1.1);
        }
    }

    &__nav {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-basis: 70%;
        @include responsive(lg) {
            display: none;
        }

        &--open {
            display: block;
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            background-color: $eerie-black;
            padding: 0px 30px;
            z-index: 10;
            border-bottom: 1.5px solid #d4d4d4;
            box-shadow: 4px 4px 12px 2px rgba(0,0,0,0.15);
            color: $white !important;
        }

        &-list {
            @include flex-center;
            width: 100%;
            gap: 140px;
            padding: 0;
            list-style: none;
            @include responsive(lg) {
                display: block;
                gap: 20px;
            }
        }

        &-item {
            &-link {
                @include flex-center;
                color: $white;
                font-size: clamp(14px, 1.5vw, 17px);
                font-weight: 300;
                text-decoration: none;
                transition: color 0.2s ease;
                position: relative;
                @include responsive(lg) {
                    display: block;
                    padding: 10px 0;
                }
                &:hover, &-active {
                    color: $green-yellow;
                    font-weight: 400;
                    &::after {
                        width: 100%;
                    }
                }
            }
        }
    }

    &__contact {
        @include flex-center;
        flex-basis: 15%;
        justify-content: flex-end;
        @include responsive(lg) {
            display: none;
        }

        &-button {
            @include flex-center;
            width: 144px;
            height: 40px !important;
            color: $eerie-black;
            background-color: $green-yellow;
            border: none;
        }
    }

    &__toggle {
        display: none;
        @include responsive(lg) {
            display: block;
            @include flex-center;
            font-size: clamp(20px, 2vw, 24px);
            color: $mint-cream;
            cursor: pointer;
            margin-left: auto;
        }
    }
}