@use '../../app/globals.scss' as *;

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    color: $white;
    background-color: transparent;
    width: 100vw;
    box-sizing: border-box;
    transition: background-color 0.3s ease, transform 0.3s cubic-bezier(0.4,0,0.2,1);

    &--visible {
        transform: translateY(0);
    }
    &--hidden {
        transform: translateY(-110%);
    }

    &__wrapper {
        width: 100%;
        margin: 0 auto;
        background-color: transparent;
        padding-top: 5px;

        @include responsive(lg) {
            padding: 15px 10px 0px 10px;
        }

        &--scrolled {
            border-bottom: 1.5px solid #e2e2e2;
            box-shadow: 4px 4px 12px 2px rgba(107, 107, 107, 0.15);
            background-color: $mint-cream;

            .header__nav-item--link, .header__toggle{
                color: $eerie-black;
            }
        }

        &--black-items {
            .header__nav-item--link, .header__toggle{
                color: $eerie-black;
            }
        }
    }

    &__container {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        gap: 20px;
        width: 100%;
        margin: 10px auto 15px;
        max-width: 1480px;
        padding: 0px 20px;

        @include responsive(xl){
            max-width: 1180px;
            padding: 0px 30px;
        }

        @include responsive(lg) {
            max-width: none;
            width: 100%;
            padding: 0px 20px;
        }

        @include responsive(lg) {
            flex-direction: row;
        }
    }

    &__logo--container {
        flex-basis: 15%;
    }

    &__logo{
        width: 130px;
        height: 80px;
        position: relative;

        @include responsive(lg) {
            width: 100px;
            height: 60px;
        }

        &--image {
            filter: brightness(1.2) contrast(1.1);
        }
    }

    &__nav {
        flex-basis: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
    

        @include responsive(lg) {
            display: none;
        }

        &--open {
            display: block;
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            background-color: $white;
            padding: 0px 30px;
            z-index: 10;
            border-bottom: 1.5px solid #d4d4d4;
            box-shadow: 4px 4px 12px 2px rgba(0,0,0,0.15);

            .header__nav-item {
                padding: 5px 0;
            }
        }

        &-list {
            @include flex-center;
            justify-content: center;
            width: 100%;
            list-style: none;
            padding: 0;
            gap: 140px;

            @include responsive(lg) {
                flex-direction: column;
                display: block;
                gap: 20px;
            }
        }

        &-item {
            &--link {
                @include flex-center;
                flex-wrap: nowrap;
                text-decoration: none;
                color: $white;
                font-size: clamp(14px, 1.5vw, 18px); 
                font-weight: 300;
                
                @include responsive(lg) {
                    padding: 10px 0;
                    display: block;
                }

                &:hover {
                    color: $green-yellow;
                    font-weight: 400;
                }
            }
        }
    }

    &__contact {
        flex-basis: 15%;
        justify-content: flex-end;
        @include flex-center;
        
        @include responsive(lg) {
            display: none;
        }

        &-button {
            width: 144px;
            height: 50px !important;
            @include flex-center;
            background-color: $green-yellow;
            border: none !important;
            color: $eerie-black !important;        
        }
    }

    &__toggle {
        display: none;

        @include responsive(lg) {
            display: block;
            @include flex-center;
            font-size: clamp(20px, 2vw, 24px); 
            color: $mint-cream;
            cursor: pointer;
            margin-left: auto;
            padding-bottom: 10px;
        }
    }
}