@use '../../app/globals.scss' as *;

.swiper {
    width: 100%;
    padding: 50px 0;
    overflow: visible !important;
}

.swiper-wrapper {
    align-items: center;
}

.swiper-slide {
    height: auto;
    transition: all 0.6s ease;
    opacity: 1;
    
    &.swiper-slide-active {
        opacity: 1;
        transform: scale(1.1);
        z-index: 2;
    }

    &:not(.swiper-slide-active) {
        transform: scale(0.85);
    }
}

.swiper-pagination {
    position: relative;
    margin-top: 20px;
}

.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: #ddd;
    opacity: 0.5;
    
    &-active {
        opacity: 1;
        background-color: $dark-green;
    }
}

@media (max-width: 768px) {
    .swiper-button-next,
    .swiper-button-prev {
        display: none;
    }
}

.swiper-slide-prev {
    transform: translateX(-5%) scale(0.85) !important;
}

.swiper-slide-next {
    transform: translateX(5%) scale(0.85) !important;
}