.carousel-card {
    background: #fff;
    border-radius: 12px;
    padding: 16px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

    &:hover {
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    }
}

.carousel-image {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 12px;
}

.swiper-slide {
    transition: box-shadow 0.3s ease;
    border-radius: 15px;
    box-shadow: 0px 2px 10px 0px rgba(117, 117, 117, 0.219);  // Sombra más sutil


    &:hover {
        box-shadow: 0px 6px 15px 1px rgba(92, 92, 92, 0.180);  // Sombra hover más sutil
    }
}

.swiper {
    padding: 15px; 
    margin: -15px;             
}

.swiper-wrapper {
    padding: 10px 5px;
}



