.swiper-slide {
    transition: transform 0.3s ease;
    border-radius: 15px;

    &:hover {
        transform: scale(1.01);
    }
}

.swiper {
    padding: 15px; 
    margin: -15px;             
}

.swiper-wrapper {
    padding: 10px 5px;
}



