@use '../../app/globals.scss' as *;

.result-card {
    position: relative; 
    width: 100%;
    height: 500px;
    display: flex;
    flex-flow: column nowrap;
    background-image: url('/assets/images/bottom-background.jpg');
    background-size: cover;
    background-position: center;
    padding: 20px;
    gap: 20px;
    color: $white-primary;
    justify-content: space-between;
    border-radius: 15px;

    @include responsive(md) {
        height: 400px;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.35); 
        border-radius: inherit; 
        z-index: 1;
    }

    * {
        position: relative; 
        z-index: 2;
    }

    &__title {
        text-align: start;
        font-size: clamp(14px, 2vw + 1rem, 30px); 
        line-height: clamp(1.8rem, 2vw, 2.3rem);
        font-weight: 500;
    }

    &__description {
        font-weight: 400;
        font-size: clamp(12px, 2vw + 1rem, 18px); 
        line-height: 1.2rem;
        padding-bottom: 10px;
    }
}
