@use '../../app/globals.scss' as *;

.result-card {
    width: 100%;
    height: 500px;
    display: flex;
    flex-flow: column nowrap;
    background-image: url('/assets/images/bottom-background.jpg');
    background-size: cover;
    background-position: center;
    padding: 20px;
    gap: 20px;
    color: $white-primary;
    justify-content: space-between;
    border-radius: 15px;

    &__title {
        text-align: start;
        font-size: 36px;
        line-height: 2.3rem;
        font-weight: 500;
    }

    &__description {
        font-weight: 400;
        font-size: 18px;
        line-height: 1.2rem;
        padding-bottom: 10px;
    }
}
