@use '../../../app/globals.scss' as *;

.label-container {
    display: flex;

    &__label {
        font-size: clamp(14px, 0.5vw + 1rem, 20px); 
        box-sizing: border-box;
        width: auto;
        font-weight: 300;
        position: relative;
        margin-bottom: 5px;

        @include responsive(sm) {
            margin-bottom: 10px;
        }
    }
}

