.label-container {
    display: flex;

    &__label {
        font-size: 20px;
        box-sizing: border-box;
        width: auto;
        font-weight: 300;
        position: relative;

        &::before {
            content: '';
            display: inline-block;
            width: 100%;
            height: 1px;
            background-color: currentColor;
            vertical-align: text-top;
            top: -5px;
            position: absolute;
        }
    }
}

