.label-container {
    display: flex;

    &__label {
        font-size: clamp(10px, 0.5vw + 0.5em, 20px); 
        box-sizing: border-box;
        width: auto;
        font-weight: 300;
        position: relative;
        margin-bottom: 4px;

        &::before {
            content: '';
            display: inline-block;
            width: 100%;
            height: 1px;
            background-color: currentColor;
            vertical-align: text-top;
            top: -5px;
            position: absolute;
        }
    }
}

