@use '../../../app/globals.scss' as *;

.label-container {
    display: flex;

    &__label {
        font-size: clamp(10px, 0.5vw + 0.5em, 18px); 
        box-sizing: border-box;
        width: auto;
        font-weight: 400;
        position: relative;
        margin-bottom: 4px;
        padding: 10px 25px;
        border-radius: 20px;
        margin-bottom: 5px;

        @include responsive(sm) {
            margin-bottom: 10px;
        }
    }
}

