@use '../../app/globals.scss' as *;

.footer {
    width: 100%;
    padding: 30px 0;
    color: $white;
    box-sizing: border-box;

    &__container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: space-between;

        @include responsive(lg) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 50px;
        }

        @include responsive(md) {
            display: flex;
            flex-direction: column;
            gap: 50px;
        }
    }

    &__logo-container {
        flex-basis: 15%;
    }
    
    &__logo {
        position: relative;
        width: 100px;
        height: 100px;
        transition: transform 0.3s ease;

        @include responsive(md) {
            width: 60px;
            height: 60px;
        }
    }
    &__logo-image {
        filter: brightness(1.2) contrast(1.1);
        transition: filter 0.3s ease;

        &:hover {
            filter: brightness(1.3) contrast(1.2);
        }
    }

    &__social-icons {
        display: flex;
        gap: 10px;

        a {
            transition: opacity 0.2s ease;
            
            &:hover {
                opacity: 0.8;
            }
        }
    }

    &__contact {
        &-info {
            flex-basis: 25%;

            @include responsive(lg) {
                order: 1;
            }

            a {
                text-decoration: none;
                color: $eerie-black;
                transition: color 0.2s ease;

                &:hover {
                    color: $dark-green;
                }
            }
        }

        &-mobile {
            display: none;
            margin-top: 36px;

            @include responsive(lg) {
                display: block;
            }
        }

        &-desktop {
            display: block;

            @include responsive(lg) {
                display: none;
            }
        }
    }

    &__nav {
        flex-basis: 25%;
        padding-left: 70px;

        @include responsive(lg) {
            display: none;
        }

        &-list {
            margin: 0;
            padding: 0;
            list-style: none;

            &-item {
                display: flex;
                margin-bottom: 5px;

                @include responsive(lg) {
                    margin-bottom: 0;
                    padding-bottom: 0;
                }
            }
        }
    }

    &__company-info {
        flex-basis: 25%;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    &__info-item {
        margin-bottom: 10px;
    }

    &__copy {
        flex-basis: auto;
        color: $eerie-black;
        text-align: start;
        margin-top: 30px !important;

        @include responsive(lg) {
            padding-top: 40px;
        }
    }

    &__label {
        margin-bottom: 10px;
        color: $eerie-black;
        font-size: clamp(14px, 1vw + 0.5rem, 20px);
        font-weight: 500;
    }

    &__text {
        margin-bottom: 20px;
        color: $eerie-black;
        font-size: clamp(12px, 1vw + 0.5rem, 16px);
        font-weight: 400;
    }

    &__link {
        color: $eerie-black;
        font-size: clamp(12px, 1vw + 0.5rem, 16px);
        font-weight: 400;
        transition: opacity 0.2s ease;
        text-decoration: none;
        padding-top: 10px;

        &:hover {
            opacity: 0.8;
        }
    }
}