@use '../../app/globals.scss' as *;

.footer {
    width: 97%;
    margin: 15px auto;
    margin-bottom: 0px;
    background-color: $black-primary;
    color: $white-primary;
    padding: 20px;
    border-radius: 30px;
    box-sizing: border-box;

    &__social-icons{
        display: flex;
        gap: 10px;
    }

    &__container {
        display: flex;
        flex-flow: row wrap;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;

        @include responsive(lg) {
            flex-flow: column nowrap;
        }
    }

    &__logo {
        flex-basis: 10%;

        h2 {
            font-size: clamp(16px, 1.5vw + 1rem, 24px); 
        }
    }

    &__contact-info {
        flex-basis: 25%;

        a{
            text-decoration: none;
            color: $white-primary;
        }
    }

    &__nav {
        flex-basis: 25%;

        &-list {
            list-style: none;
            padding: 0;

            &-item {
                margin-bottom: 15px;

                @include responsive(lg) {
                    margin-bottom: -10px !important; 
                    padding-bottom: 0px; 
                }
            }
        }
    }

    &__company-info {
        flex-basis: 25%;
        display: flex;
        flex-flow: column nowrap;
        gap: 30px;
    }

    &__copy {
        flex-basis: auto;
        text-align: start;
        color: $font-color-secondary;

        .footer__text {
            font-size: clamp(12px, 1vw + 0.5rem, 16px);
            margin: 0;
        }
    }
}

.footer__label {
    font-size: clamp(14px, 1vw + 0.5rem, 16px); 
    font-weight: 600;
    margin-bottom: 10px;
    color: $font-color-tertiary;
}

.footer__text {
    font-size: clamp(12px, 1vw + 0.5rem, 16px); 
    font-weight: 400;
    margin-bottom: 20px;
}

.footer__link {
    font-size: clamp(12px, 1vw + 0.5rem, 16px) !important;
}