@use '../../app/globals.scss' as *;

.footer {
    width: 100%;
    color: $white-primary;
    padding: 30px 0px;
    box-sizing: border-box;

    &__social-icons{
        display: flex;
        gap: 10px;
    }

    &__container {
        display: flex;
        flex-flow: row wrap;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;

        @include responsive(lg) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 50px;
        }

        @include responsive(md) {
            display: flex;
            flex-flow: column nowrap;
            gap: 50px;
        }
    }

    &__logo--container {
        flex-basis: 15%;
    }

    &__logo {
        position: relative;
        width: 140px;
        height: 60px;

        @include responsive(md) {
            width: 115px;
            height: 60px;
        }

        &--image {
            filter: brightness(1.2) contrast(1.1);
        }
    }

    &__contact-info {
        flex-basis: 25%;

        
        @include responsive(lg) {
            order: 1;
        }

        a{
            text-decoration: none;
            color: $font-color-secondary;
        }
    }

    &__nav {
        flex-basis: 25%;

        
        @include responsive(lg) {
            order: 2;
        }

        &-list {
            list-style: none;
            padding: 0;

            &-item {
                margin-bottom: 5px;
                display: flex;

                @include responsive(lg) {
                    margin-bottom: -10px !important; 
                    padding-bottom: 0px; 
                }
            }
        }
    }

    &__company-info {
        flex-basis: 25%;
        display: flex;
        flex-flow: column nowrap;
        gap: 30px;
    }

    &__copy {
        flex-basis: auto;
        text-align: start;
        color: $font-color-secondary;
        padding: 10px 15px;

        @include responsive(md) {
            padding-top: 30px !important;
        }

        .footer__text {
            font-size: clamp(12px, 1vw + 0.5rem, 16px);
            margin: 0;
        }
    }
}

.footer__label {
    font-size: clamp(14px, 1vw + 0.5rem, 20px); 
    font-weight: 500;
    margin-bottom: 10px;
    color: $black;
}

.footer__text {
    font-size: clamp(12px, 1vw + 0.5rem, 16px); 
    font-weight: 400;
    margin-bottom: 20px;
    color: $font-color-secondary;
}

.footer__link {
    font-size: clamp(12px, 1vw + 0.5rem, 16px) !important;
}