@use '../../app/globals.scss' as *;

.service-list {
    display: flex;
    width: 100%;
    gap: 15px;
    margin-top: 10px;

    @include responsive(md) {
        flex-direction: column;
    }

    &__item {
        flex: 1;
        position: relative;
        aspect-ratio: 1 / 0.7;
        padding: 20px;
        border-radius: 16px;
        color: $white;
        display: flex;
        flex-direction: column;
        text-decoration: none;
        transition: transform 0.3s ease;

        &:hover {
            transform: translateY(-5px);
        }
    }

    &__title {
        font-size: 1.5rem;
        font-weight: 600;
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-bottom: auto;
    }

    &__description {
        font-size: 0.9rem;
        font-weight: normal;
        opacity: 0.8;
    }

    &__button {
        position: absolute;
        bottom: 20px;
        left: 20px;
        display: flex;
        align-items: center;
        gap: 5px;
        color: $white;
        font-size: 0.9rem;
        cursor: pointer;
        transition: opacity 0.2s ease;

        &:hover {
            opacity: 0.9;
            text-decoration: underline;
        }
    }

    &__icon {
        position: absolute;
        bottom: 20px;
        right: 20px;
        color: $white;
        opacity: 0.9;
    }
}